<link href="../css/cssCn.css" rel="stylesheet" type="text/css">
<table width="95%" border="0" cellpadding="0" cellspacing="1"
	class="tb_input">
	<tr bgcolor="#D2E1FD">
		<td colspan="2" bgcolor="#D2E1FD"><img
			src="../images/icon_note.gif" width="18" height="18" class=icon>问题反馈</td>
	</tr>
	<tr>
		<td class="td_title">标题:</td>
		<td><input name="textfield" type="text" size="80"> (限50字)</td>
	</tr>
	<tr>
		<td width="45" class="td_title">内容:</td>
		<td><textarea name="textarea" cols="80" rows="4"></textarea>
		(限15000字)</td>
	</tr>
	<tr>
		<td class="td_title">附件:</td>
		<td><input name="textfield2" type="text" size="80"> <input
			name="Submit222" type="submit" class="button" value="浏览"></td>
	</tr>
	<tr>
		<td nowrap class="td_title">邮件通知:</td>
		<td><input name="checkbox2" type="checkbox" value="checkbox"
			checked> 如有回复,请邮件通知</td>
	</tr>
	<tr>
		<td height="26" colspan="2">
		<div align="right"><input name="Submit" type="submit"
			class="button" value="提交"> <input name="Submit2"
			type="submit" class="button" value="清空"> &nbsp;</div>
		</td>
	</tr>
</table>


