TD {
	FONT-SIZE: 12px;
	FONT-FAMILY: Arial, Helvetica, sans-serif
}

.style4 {
	COLOR: #ffffff
}

A:link {
	COLOR: #999999;
	TEXT-DECORATION: none
}

A:visited {
	COLOR: #999999;
	TEXT-DECORATION: none
}

A:hover {
	COLOR: #0066cc;
	TEXT-DECORATION: underline
}

A:active {
	COLOR: #0066cc;
	TEXT-DECORATION: underline
}

.a1 {
	FONT-SIZE: 12px;
	FONT-WEIGHT: bold;
	COLOR: #ffffff;
	FONT-FAMILY: Arial, Helvetica, sans-serif;
	TEXT-DECORATION: none
}

A.a1:link {
	FONT-SIZE: 12px;
	COLOR: #0366CB;
	FONT-FAMILY: Arial, Helvetica, sans-serif;
	TEXT-DECORATION: none
}

A.a1:visited {
	FONT-SIZE: 12px;
	COLOR: #0066cc;
	FONT-FAMILY: Arial, Helvetica, sans-serif;
	TEXT-DECORATION: none
}

A.a1:hover {
	FONT-SIZE: 12px;
	COLOR: #0066cc;
	FONT-FAMILY: Arial, Helvetica, sans-serif;
	TEXT-DECORATION: underline
}

A.a1:active {
	FONT-SIZE: 12px;
	COLOR: #0066cc;
	FONT-FAMILY: Arial, Helvetica, sans-serif;
	TEXT-DECORATION: none
}

.a2 {
	FONT-SIZE: 12px;
	COLOR: #000000;
	FONT-FAMILY: Arial, Helvetica, sans-serif;
	TEXT-DECORATION: none
}

A.a2:link {
	FONT-SIZE: 12px;
	COLOR: #000000;
	FONT-FAMILY: Arial, Helvetica, sans-serif;
	TEXT-DECORATION: none
}

A.a2:visited {
	FONT-SIZE: 12px;
	COLOR: #000000;
	FONT-FAMILY: Arial, Helvetica, sans-serif;
	TEXT-DECORATION: none
}

A.a2:hover {
	FONT-SIZE: 12px;
	COLOR: #c5edfc;
	FONT-FAMILY: Arial, Helvetica, sans-serif;
	TEXT-DECORATION: underline
}

A.a2:active {
	FONT-SIZE: 12px;
	COLOR: #000000;
	FONT-FAMILY: Arial, Helvetica, sans-serif;
	TEXT-DECORATION: none
}

.hy {
	FONT-SIZE: 9pt;
	COLOR: #666666;
	LINE-HEIGHT: 18px;
	text-align: left;
	text-indent: 10px;
}

.style6 {
	COLOR: #0840b7
}

.style7 {
	COLOR: #000000
}

.input01 {
	BORDER-RIGHT: #cccccc 1px solid;
	BORDER-TOP: #cccccc 1px solid;
	FONT-SIZE: 9pt;
	BORDER-LEFT: #cccccc 1px solid;
	COLOR: #333333;
	BORDER-BOTTOM: #cccccc 1px solid;
	FONT-FAMILY: Arial, Helvetica, sans-serif;
	HEIGHT: 20px
}

.input02 {
	BORDER-RIGHT: #d4d0c8 1px solid;
	BORDER-TOP: #404040 1px solid;
	BORDER-LEFT: #404040 1px solid;
	BORDER-BOTTOM: #d4d0c8 1px solid
}

.tb {
	FONT-SIZE: 9pt;
	FONT-FAMILY: Arial
}

.time01 {
	FONT-SIZE: 10px;
	COLOR: #9bd3f9;
	FONT-FAMILY: Arial, Helvetica, sans-serif;
	TEXT-DECORATION: none
}

.wel {
	FONT-SIZE: 12px;
	COLOR: #9bd3f9;
	LINE-HEIGHT: 18px
}

.tit01 {
	FONT-WEIGHT: bold;
	FONT-SIZE: 18px;
	COLOR: #fc9550
}

A.tit01:link {
	FONT-WEIGHT: bold;
	FONT-SIZE: 18px;
	COLOR: #fc9550
}

A.tit01:visited {
	FONT-WEIGHT: bold;
	FONT-SIZE: 18px;
	COLOR: #fc9550
}

A.tit01:hover {
	FONT-WEIGHT: bold;
	FONT-SIZE: 18px;
	COLOR: #ffcc00
}

A.tit01:active {
	FONT-WEIGHT: bold;
	FONT-SIZE: 18px;
	COLOR: #fc9550
}

.road {
	FONT-SIZE: 12px;
	COLOR: #ff9000;
	TEXT-DECORATION: none
}

A.road:link {
	FONT-SIZE: 12px;
	COLOR: #ff9000;
	TEXT-DECORATION: none
}

A.road:visited {
	FONT-SIZE: 12px;
	COLOR: #ff9000;
	TEXT-DECORATION: none
}

A.road:hover {
	FONT-SIZE: 12px;
	COLOR: #ff9000;
	TEXT-DECORATION: underline
}

A.road:active {
	FONT-SIZE: 12px;
	COLOR: #ff9000;
	TEXT-DECORATION: none
}

.road4link {
	FONT-SIZE: 14px;
	COLOR: #ff9000;
	TEXT-DECORATION: none
}

A.road4link:link {
	FONT-SIZE: 14px;
	COLOR: #ff9000;
	TEXT-DECORATION: none
}

A.road4link:visited {
	FONT-SIZE: 14px;
	COLOR: #ff9000;
	TEXT-DECORATION: none
}

A.road4link:hover {
	FONT-SIZE: 14px;
	COLOR: #ff9000;
	TEXT-DECORATION: underline
}

A.road4link:active {
	FONT-SIZE: 14px;
	COLOR: #ff9000;
	TEXT-DECORATION: none
}

.insub {
	FONT-SIZE: 13px;
	COLOR: #ffffff;
	TEXT-DECORATION: none
}

A.insub:link {
	FONT-SIZE: 13px;
	COLOR: #ffffff;
	TEXT-DECORATION: none
}

A.insub:visited {
	FONT-SIZE: 13px;
	COLOR: #ffffff;
	TEXT-DECORATION: none
}

A.insub:hover {
	FONT-SIZE: 13px;
	COLOR: #94dffb;
	TEXT-DECORATION: none
}

A.insub:active {
	FONT-SIZE: 13px;
	COLOR: #ffffff;
	TEXT-DECORATION: none
}

.insub01 {
	FONT-SIZE: 13px;
	COLOR: #ffffff;
	TEXT-DECORATION: none
}

A.insub01:link {
	FONT-SIZE: 13px;
	COLOR: #ffffff;
	TEXT-DECORATION: none
}

A.insub01:visited {
	FONT-SIZE: 13px;
	COLOR: #ffffff;
	TEXT-DECORATION: none
}

A.insub01:hover {
	FONT-SIZE: 13px;
	COLOR: #94dffb;
	TEXT-DECORATION: none
}

A.insub01:active {
	FONT-SIZE: 13px;
	COLOR: #ffffff;
	TEXT-DECORATION: none
}

.gray02 {
	FONT-SIZE: 12px;
	COLOR: #666666;
	TEXT-DECORATION: none
}

A.gray02:link {
	FONT-SIZE: 12px;
	COLOR: #666666;
	TEXT-DECORATION: none
}

A.gray02:visited {
	FONT-SIZE: 12px;
	COLOR: #666666;
	TEXT-DECORATION: none
}

A.gray02:hover {
	FONT-SIZE: 12px;
	COLOR: #cccccc;
	TEXT-DECORATION: underline
}

A.gray02:active {
	FONT-SIZE: 12px;
	COLOR: #666666;
	TEXT-DECORATION: none
}

.sub2 {
	BACKGROUND-COLOR: #3e97ec
}

.sub4 {
	BACKGROUND-COLOR: #3eb0fc
}

.sub3 {
	FONT-SIZE: 12px;
	COLOR: #ffffff;
	TEXT-DECORATION: none
}

A.sub3:link {
	FONT-SIZE: 12px;
	COLOR: #ffffff;
	TEXT-DECORATION: none
}

A.sub3:visited {
	FONT-SIZE: 12px;
	COLOR: #ffffff;
	TEXT-DECORATION: none
}

A.sub3:hover {
	FONT-SIZE: 12px;
	COLOR: #003366;
	TEXT-DECORATION: underline
}

A.sub3:active {
	FONT-SIZE: 12px;
	COLOR: #ffffff;
	TEXT-DECORATION: none
}

.import {
	FONT-SIZE: 14px;
	COLOR: #3d97e3;
	LINE-HEIGHT: 20px
}

.indent01 {
	TEXT-INDENT: 20px
}

INPUT {
	HEIGHT: 18px
}

.sub5 {
	FONT-SIZE: 12px;
	COLOR: #ffffff;
	TEXT-DECORATION: none
}

A.sub5:link {
	FONT-SIZE: 12px;
	COLOR: #ffffff;
	TEXT-DECORATION: none
}

A.sub5:visited {
	FONT-SIZE: 12px;
	COLOR: #ffffff;
	TEXT-DECORATION: none
}

A.sub5:hover {
	FONT-SIZE: 12px;
	COLOR: #003399;
	TEXT-DECORATION: none
}

A.sub5:active {
	FONT-SIZE: 12px;
	COLOR: #ffffff;
	TEXT-DECORATION: none
}

.diaocha {
	BACKGROUND-POSITION: 50% bottom;
	BACKGROUND-ATTACHMENT: fixed;
	BACKGROUND-IMAGE: url(../images/wsdc_09.gif);
	BACKGROUND-REPEAT: no-repeat
}

.diaocha01 {
	FONT-SIZE: 9pt;
	COLOR: #dff9ff;
	LINE-HEIGHT: 18px
}

.gray03 {
	FONT-SIZE: 12px;
	COLOR: #333333;
	LINE-HEIGHT: 18px;
	TEXT-DECORATION: none
}

A.gray03:link {
	FONT-SIZE: 12px;
	COLOR: #333333;
	TEXT-DECORATION: none
}

A.gray03:visited {
	FONT-SIZE: 12px;
	COLOR: #333333;
	TEXT-DECORATION: none
}

A.gray03:hover {
	FONT-SIZE: 12px;
	COLOR: #666666;
	TEXT-DECORATION: none
}

A.gray03:active {
	FONT-SIZE: 12px;
	COLOR: #333333;
	TEXT-DECORATION: none
}

.news-tl {
	FONT-WEIGHT: bold;
	FONT-SIZE: 14pt;
	COLOR: #0a45bb
}

.news-time {
	FONT-SIZE: 12px;
	COLOR: #996600
}

.news {
	FONT-WEIGHT: normal;
	FONT-SIZE: 10pt;
	LINE-HEIGHT: 20px
}

.news-tl01 {
	FONT-WEIGHT: bold;
	COLOR: #003399
}