div.auto_list{
	background-color:white;
	border:1px;
	border-style:solid;
	border-color:Silver;
	overflow:hidden;
	position:absolute;
	color:black;
	text-overflow:ellipsis;
	font-family:Verdana, Arial, Helvetica, sans-serif;
}

div span.auto_item_mouseover{
	background-color:rgb(1,61,131);
	cursor:default;
	color:white;
}
div span.auto_item_mouseout{
}
div span.auto_item_match{
	font-weight:bolder;
}