.tab1 {	border-top-width: 1px;
	border-right-width: 1px;
	border-bottom-width: 1px;
	border-left-width: 1px;
	border-top-style: none;
	border-right-style: solid;
	border-bottom-style: solid;
	border-left-style: solid;
	border-top-color: #D2E1FD;
	border-right-color: #D2E1FD;
	border-bottom-color: #D2E1FD;
	border-left-color: #D2E1FD;
	height: 100%;
	width: 100%;
}
.tabbody2 {	
    FONT-SIZE: 12px;
	CURSOR: pointer;
	COLOR: #ffffff;
	LINE-HEIGHT: 12pt;
	FONT-FAMILY: Arial;
	HEIGHT: 20px;
	TEXT-DECORATION: none;
	background-color: #6088D3;
	border-top-width: 1px;
	border-right-width: 1px;
	border-bottom-width: 1px;
	border-left-width: 1px;
	border-top-style: solid;
	border-right-style: solid;
	border-bottom-style: solid;
	border-left-style: solid;
	border-top-color: #C6D5F5;
	border-right-color: #46659E;
	border-bottom-color: #46659E;
	border-left-color: #C6D5F5;
	vertical-align: bottom;
}
.tabbody1 {
    FONT-SIZE: 12px;
	CURSOR: pointer;
	COLOR: #03319A;
	LINE-HEIGHT: 12pt;
	FONT-FAMILY: Arial;
	HEIGHT: 20px;
	TEXT-DECORATION: none;
	background-color: #D2E1FD;
	border-top-width: 1px;
	border-right-width: 1px;
	border-bottom-width: 1px;
	border-left-width: 1px;
	border-top-style: solid;
	border-right-style: solid;
	border-bottom-style: solid;
	border-left-style: solid;
	border-top-color: #FFFFFF;
	border-right-color: #F9FAFC;
	border-bottom-color: #D2E1FD;
	border-left-color: #D2E1FD;
}