/*** Default Html Label's  style ***/
HTML {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; FONT-SIZE: 11px; BACKGROUND: white; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px; FONT-FAMILY: "Verdana","Arial","Helvetica","sans-serif"
}
A {
	COLOR: #03319A; TEXT-DECORATION: none
}
A:hover {
	COLOR: blue
}

BODY {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; FONT-SIZE: 11px; BACKGROUND: white; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px; FONT-FAMILY: "Verdana","Arial","Helvetica","sans-serif"; COLOR: #111111
}

H1 {
	MARGIN-TOP: 11px; FONT-WEIGHT: bold; FONT-SIZE: 14px; MARGIN-BOTTOM: 3px; COLOR: blue
}
H2 {
	FONT-WEIGHT: bold; FONT-SIZE: 13px; BACKGROUND: url(../images/bullet8.gif) no-repeat 2px 50%; MARGIN: 6px auto 2px; COLOR: #64330f; TEXT-INDENT: 1.8em; LETTER-SPACING: 1px
}
HR {
	BORDER-RIGHT: silver 1px solid; BORDER-TOP: silver 1px solid; BORDER-LEFT: silver 1px solid; BORDER-BOTTOM: silver 1px solid; HEIGHT: 1px
}

INPUT {
	FONT-SIZE: 11px; FONT-FAMILY: "Verdana","Arial","Helvetica","sans-serif",,simsun
}
SELECT {
	FONT-SIZE: 11px; COLOR: #000000;FONT-FAMILY: "Arial","Verdana","Helvetica","sans-serif";
BORDER-RIGHT: #9d9d9d 1px solid; BORDER-TOP: #9d9d9d 1px solid; Z-INDEX: 1; BACKGROUND: #efefef; OVERFLOW: auto; BORDER-LEFT: #9d9d9d 1px solid; LINE-HEIGHT: 140%; BORDER-BOTTOM: #9d9d9d 1px solid; HEIGHT: 10px

}
TD {
	FONT-SIZE: 11px; FONT-FAMILY: "Verdana","Arial","Helvetica","sans-serif",,simsun
}
TH {
	FONT-SIZE: 11px; FONT-FAMILY: "Verdana","Arial","Helvetica","sans-serif",,simsun
}
INPUT.button {
	 BORDER-RIGHT: #acb5b5 1px solid; BORDER-TOP: #c4cccc 1px solid; BACKGROUND: url(../images/background_form_element.gif) #fefefe repeat-x; BORDER-LEFT: #acb5b5 1px solid; CURSOR: pointer; COLOR: #222222; BORDER-BOTTOM: #6f7777 1px solid; HEIGHT: 20px; WIDTH:80PX;PADDING-RIGHT: 2px; PADDING-LEFT: 2px;PADDING-BOTTOM: 1px;  PADDING-TOP: 2px; FONT-FAMILY: ,"Verdana","Arial","Helvetica","sans-serif",
}
LI {
	LIST-STYLE-POSITION: outside; LIST-STYLE-IMAGE: url(../images/bullet8.gif); MARGIN: auto 2px 5px -10px; VERTICAL-ALIGN: text-top
}
OPTION.even {
	BACKGROUND-COLOR: #e4edfc
}
OPTION {
	FONT-SIZE: 11px; FONT-FAMILY: "Arial","Verdana","Helvetica","sans-serif"; COLOR: #222222; 
}

TR.even {
	BACKGROUND-COLOR: #F7F9FE
}
TR.even TD {
	BACKGROUND-COLOR: #F7F9FE
}
.even TEXTAREA {
	BACKGROUND-COLOR: #F7F9FE
}

.arrow {
	FONT-FAMILY: Webdings! important
}
.arrow A {
	FONT-FAMILY: Webdings! important
}

/***  ***/

.tb_comment {
	PADDING-left: 10px;PADDING-RIGHT: 5px; COLOR: #03319A; PADDING-TOP: 5px; TEXT-ALIGN: left
; LETTER-SPACING: 2px; MARGIN-TOP: 5px; MARGIN-BOTTOM: 5px;LINE-HEIGHT:100%;}

.error {
	COLOR: red
}
.icon {
	BORDER-RIGHT: 0px; BORDER-TOP: 0px; MARGIN-BOTTOM: -2px; MARGIN-LEFT: 1px; BORDER-LEFT: 0px; MARGIN-RIGHT: 2px; BORDER-BOTTOM: 0px
}
.iconbtn {
	PADDING-RIGHT: 1px; PADDING-LEFT: 1px; PADDING-BOTTOM: 1px; PADDING-TOP: 1px
}
.iconbtn IMG {
	BORDER-RIGHT: 0px; BORDER-TOP: 0px; BORDER-LEFT: 0px; BORDER-BOTTOM: 0px
}
.iconbtn:hover {
	LEFT: 1px; POSITION: relative; TOP: 1px
}

.tb_titlebar {
	BORDER-RIGHT: buttonshadow 1px solid; PADDING-RIGHT: 2px; BORDER-TOP: buttonshadow 1px solid; PADDING-LEFT: 2px; PADDING-BOTTOM: 2px; BORDER-LEFT: buttonshadow 1px solid; WIDTH: 100%; PADDING-TOP: 2px; BORDER-BOTTOM: buttonshadow 1px solid; WHITE-SPACE: nowrap ; MARGIN-top: 3px;
}
.div_subtitle {
	 MARGIN-TOP: 5px;  BACKGROUND-IMAGE: url(../images/bullet6.gif); VERTICAL-ALIGN: bottom; TEXT-INDENT: 16px; BACKGROUND-REPEAT: no-repeat
}
#tb_toptab {
	BACKGROUND: url(../images/bk_nav.gif); WIDTH: 100%
}
#tb_toptab .active {
	BACKGROUND: #e1e1e1; BORDER-BOTTOM: medium none;
	/*WIDTH: 80px; */ padding-left:8px; padding-right:8px;
}
#tb_toptab .active A {
	CURSOR: default; COLOR: blue
}
#tb_toptab .active A:hover {
	CURSOR: default; COLOR: blue
}
#tb_toptab .tab {
	/*WIDTH: 80px*/ padding-left:8px; padding-right:8px;
}
#tb_toptab A {
	DISPLAY: block; COLOR: white; POSITION: relative; TEXT-ALIGN: center; TEXT-DECORATION: none
}
#tb_toptab A:hover {
	COLOR: #ffd700
}
#tb_toptab TD {
	FONT-WEIGHT: bold; PADDING-TOP: 4px; BORDER-BOTTOM: 2px ridge
}

/*** Define the search Table's style ***/

.tb_searchbar {
	BACKGROUND: #C6D5F5;BORDER-RIGHT: D4D4D4 1px solid;  BORDER-TOP: D4D4D4 1px solid;   BORDER-LEFT: D4D4D4 1px solid; WIDTH: 100% ;  
}
.tb_searchbar .select {
	MARGIN-TOP: 19px! important; TEXT-ALIGN: left
}
.tb_searchbar TD {
	PADDING-RIGHT: 2px; PADDING-LEFT: 2px;BACKGROUND: #ffffff;  PADDING-BOTTOM: 2px; PADDING-TOP: 2px
}
.tb_searchbar TH {
	BORDER-TOP: white 1px solid; BACKGROUND: #B9D0FE; BORDER-LEFT: white 1px solid
}
.tb_searchbar .td_head TD {
	BORDER-TOP: white 1px solid; BORDER-LEFT: white 1px solid ;TEXT-ALIGN : left;
}
.tb_searchbar .td_head {
	BORDER-TOP: white 1px solid; BORDER-LEFT: white 1px solid ;TEXT-ALIGN : left;
}
.tb_searchbar .td_title TD {
	BORDER-TOP: white 1px solid; BACKGROUND: #EAF0FB; BORDER-LEFT: white 1px solid ;
}
.tb_searchbar .td_title {
	BORDER-TOP: white 1px solid; BACKGROUND: #EAF0FB; BORDER-LEFT: white 1px solid
}
.tb_searchbar .td_detail TD {
}
.tb_searchbar .td_detail {
}
.tb_searchbar .td_tail TD {
	BORDER-TOP: white 1px solid; BORDER-LEFT: white 1px solid ; text-align: Right;
}
.tb_searchbar .td_tail {
	BORDER-TOP: white 1px solid; BORDER-LEFT: white 1px solid ; text-align: Right;  
}

/*** Define the Data List Table's style ,such as datagrid, ***/

.tb_datalist {
	BORDER-RIGHT: silver 1px solid; BORDER-TOP: silver 1px solid; BACKGROUND: #C6D5F5; BORDER-LEFT: silver 1px solid; WIDTH: 100%; BORDER-BOTTOM: silver 1px solid
}
.tb_datalist .select {
	MARGIN-TOP: 19px! important; TEXT-ALIGN: left;
}

.tb_datalist TD {
	PADDING-RIGHT: 1px; PADDING-LEFT: 4px; BACKGROUND: white; PADDING-BOTTOM: 1px; PADDING-TOP: 3px
}
.tb_datalist TH {
	BORDER-TOP: white 1px solid; BACKGROUND: #B9D0FE; BORDER-LEFT: white 1px solid
}
.tb_datalist .tr_head TD {
	BORDER-TOP: white 1px solid; BACKGROUND: #EAF0FB; BORDER-LEFT: white 1px solid ; height:25PX ;
}
.tb_datalist .tr_head {
	BORDER-TOP: white 1px solid; BACKGROUND: #EAF0FB; BORDER-LEFT: white 1px solid ; height:25PX ;
}
.tb_datalist .tr_title TD {
	BORDER-TOP: white 1px solid; BACKGROUND: #D2E1FD; BORDER-LEFT: white 1px solid ;
}
.tb_datalist .tr_title {
	BORDER-TOP: white 1px solid; BACKGROUND: #D2E1FD; BORDER-LEFT: white 1px solid
}
.tb_datalist .tr_detail TD {
	BORDER-TOP: white 1px solid; BACKGROUND: #D2E1FD; BORDER-LEFT: white 1px solid ;
}
.tb_datalist .tr_detail {
	BORDER-TOP: white 1px solid; BACKGROUND: #D2E1FD; BORDER-LEFT: white 1px solid
}
.tb_datalist .tr_pagenumber {
	BACKGROUND: #E8E8E8 no-repeat 50% bottom; FLOAT: right; COLOR: #5e5e5e; WIDTH: 100%; BORDER-top: silver 1px solid ; BORDER-left: silver 1px solid; BORDER-right: buttonshadow 1px solid; VERTICAL-ALIGN: bottom; TEXT-ALIGN: right; }

.tb_datalist .tr_pagenumber  TD {
	BORDER-TOP: white 1px solid; BACKGROUND: #E8E8E8; BORDER-LEFT: white 1px solid ; BORDER-right: white 1px solid
}
.tb_datalist .tr_odd {
}
.tb_datalist .tr_odd  TD {
}
.tb_datalist .tr_even {
	BACKGROUND-COLOR: #F7F9FE
}
.tb_datalist .tr_even  TD {
	BACKGROUND-COLOR: #F7F9FE
}
.tb_datalist .tr_selected {
	BACKGROUND-COLOR: #FFFFD0
}
.tb_datalist .tr_selected  TD {
	BACKGROUND-COLOR: #FFFFD0
}
tr_selected{

}
.tb_datalist .tr_tail {
	BORDER-TOP: white 1px solid; BACKGROUND: ; BORDER-LEFT: white 1px solid ; text-align : Right;
}
.tb_datalist .tr_tail  TD {
	BORDER-TOP: white 1px solid; BACKGROUND: ; BORDER-LEFT: white 1px solid ; text-align : Right;
}

/*** Define the Input form Table's style ,such as User register table ****/

.tb_input {
	BACKGROUND: #C6D5F5;  MARGIN-BOTTOM: 5px; WIDTH: 100% ;
}
.tb_input .even TEXTAREA {
	BACKGROUND-COLOR: #F7F9FE
}
.tb_input TD.even {
	BACKGROUND-COLOR: #F7F9FE
}
.tb_input TR.even TD {
	BACKGROUND-COLOR: #F7F9FE
}
.tb_input TD {
	PADDING-RIGHT: 1px; PADDING-LEFT:4px; BACKGROUND: white;  PADDING-TOP: 3px
;PADDING-BOTTOM: 1px}
.tb_input TH {
	FONT-WEIGHT: bold; BACKGROUND: #EAF0FB
}
.tb_input .td_head TD {
	BORDER-TOP: white 1px solid; BORDER-LEFT: white 1px solid ;TEXT-ALIGN : left;
}
.tb_input .td_head {
	BORDER-TOP: white 1px solid; BORDER-LEFT: white 1px solid ;TEXT-ALIGN : left;
}
.tb_input .td_title TD {
	 BACKGROUND: #EAF0FB
}
.tb_input .td_title {
	 BACKGROUND: #EAF0FB
}
.tb_input .td_detail TD {
}
.tb_input .td_detail {
}
.tb_input .td_tail TD {
	BORDER-TOP: white 1px solid; BORDER-LEFT: white 1px solid ; text-align: Right;
}
.tb_input .td_tail {
	BORDER-TOP: white 1px solid; BORDER-LEFT: white 1px solid ; text-align: Right;
}


.dotline {
	BACKGROUND: url(../images/1dot.gif) repeat-x; MARGIN: 4px auto; LINE-HEIGHT: 1px
}

.vline {
	BACKGROUND-POSITION: center 50%; BACKGROUND-IMAGE: url(../images/vline.gif); BACKGROUND-REPEAT: no-repeat
}
.vline1 {
	BACKGROUND-POSITION: center 50%; BACKGROUND-IMAGE: url(../images/vline1.gif); BACKGROUND-REPEAT: no-repeat
}

/* Defined as the Top Link Table's style ,such as feedback.log.version.help  */

.tb_content {
	PADDING-RIGHT: 5px; PADDING-LEFT: 5px; MARGIN-BOTTOM: 5px; PADDING-BOTTOM: 5px; WIDTH: 99%; PADDING-TOP: 1px;
}

#tb_topcontent{
	BORDER-RIGHT: 0px; BORDER-TOP: 0px; BORDER-LEFT: 0px; WIDTH: 100%; BORDER-BOTTOM: 0px; HEIGHT: 100%
}

#header {
	BORDER-RIGHT: 0px; BORDER-TOP: 0px; BACKGROUND: #3366cc; VISIBILITY: visible; BORDER-LEFT: 0px; WIDTH: 100%; BORDER-BOTTOM: 0px; HEIGHT: 64px
}
#tb_iconbar {
	FONT-SIZE: 11px; BACKGROUND: #eeeeee; WIDTH: 100%; HEIGHT: 22px
}
#tb_iconbar A {
	BORDER-RIGHT: #eeeeee 1px solid; PADDING-RIGHT: 4px; BORDER-TOP: #eeeeee 1px solid; PADDING-LEFT: 4px; PADDING-BOTTOM: 1px; MARGIN: 1px 2px; BORDER-LEFT: #eeeeee 1px solid; COLOR: #00008b; PADDING-TOP: 1px; BORDER-BOTTOM: #eeeeee 1px solid; TEXT-DECORATION: none
}
#tb_iconbar A:hover {
	BORDER-RIGHT: gray 1px solid; BORDER-TOP: white 1px solid; BORDER-LEFT: white 1px solid; COLOR: blue; BORDER-BOTTOM: gray 1px solid
}
#tb_iconbar .button {
	PADDING-RIGHT: 1px; PADDING-LEFT: 1px; PADDING-BOTTOM: 1px; MARGIN: 0px 1px; PADDING-TOP: 1px
}
#tb_topuser {
	Z-INDEX: 10; RIGHT: 0px; BACKGROUND: url(../images/tab_bg.gif) repeat-x; FLOAT: right; MARGIN-LEFT: auto; WIDTH: 170px; COLOR: #a4a4ff; MARGIN-RIGHT: 0px; POSITION: absolute; TEXT-ALIGN: right
}
#tb_topuser A {
	COLOR: #c0def8
}
#tb_topuser A:hover {
	COLOR: yellow
}
#version1 {
	FONT-WEIGHT: bold; Z-INDEX: 20; LEFT: 322px; COLOR: #c0def8; FONT-STYLE: italic; POSITION: absolute; TOP: 10px
}


TD.left-nav {
	PADDING-BOTTOM: 1px; PADDING-TOP: 5px;PADDING-left: 1px; PADDING-right: 2px;
}
A.left-nav:link {
	COLOR: #222222; TEXT-DECORATION: none
}
A.left-nav:visited {
	COLOR: #222222; TEXT-DECORATION: none
}
A.left-nav:hover {
	COLOR: #555555; TEXT-DECORATION: underline
}

TR.rlinks TD {
	VERTICAL-ALIGN: top
}
A.rlinks {
	COLOR: #666
}
A.rlinks:link {
	COLOR: #666; TEXT-DECORATION: none
}
A.rlinks:visited {
	COLOR: #666; TEXT-DECORATION: none
}
A.rlinks:hover {
	COLOR: #666; TEXT-DECORATION: underline
}

/*** Define the PageNumber's Input Style ***/

.pagenumber_input {
	BORDER-RIGHT: buttonshadow 1px solid; BORDER-TOP: buttonshadow 1px solid; BORDER-LEFT: buttonshadow 1px solid;  BORDER-BOTTOM: buttonshadow 1px solid; HEIGHT: 16px; BACKGROUND-COLOR: F1F2F3
}

/*** Define the Navigation bar's '>' label style ***/

.arrow_subtitle {
	VERTICAL-ALIGN: text-top; FONT-SIZE: 11px ; PADDING-LEFT: 5px;  PADDING-RIGHT: 5px;FONT-FAMILY: ,"Arial", "Helvetica", "sans-serif"
}
