BODY {
	FONT-SIZE: 12px; LINE-HEIGHT: 160%; FONT-FAMILY: Verdana, Geneva, Arial, Helvetica, sans-serif
}
DIV {
	FONT-SIZE: 12px; LINE-HEIGHT: 160%; FONT-FAMILY: Verdana, Geneva, Arial, Helvetica, sans-serif
}
INPUT {
	FONT-SIZE: 12px; LINE-HEIGHT: 160%; FONT-FAMILY: Verdana, Geneva, Arial, Helvetica, sans-serif
}
BODY {
	BACKGROUND: #013d83; MARGIN: 0px; TEXT-ALIGN: center
}
HR {
	BORDER-TOP: #bbdeff 1px dotted; WIDTH: 200px; HEIGHT: 1px
}
#container1 {
	PADDING-RIGHT: 1em; MARGIN-TOP: -170px; PADDING-LEFT: 1em; BACKGROUND: url(../images/bk_login.gif) #013d83 no-repeat; PADDING-BOTTOM: 0px; WIDTH: 545px; PADDING-TOP: 0px; POSITION: relative; TOP: 50%; HEIGHT: 336px; TEXT-ALIGN: left
}
#copyright1 {
	LEFT: 1.5em; COLOR: #d8e6f7; BOTTOM: 2.3em; FONT-FAMILY: Arial; POSITION: absolute; TEXT-ALIGN: left
}
#product {
	MARGIN: 0px
}
#product SPAN {
	VISIBILITY: hidden
}
#loginform {
	PADDING-RIGHT: 32px; PADDING-TOP: 50px; HEIGHT: 225px; TEXT-ALIGN: right
}
#usernamediv {
	FONT-WEIGHT: bold
}
#passworddiv {
	FONT-WEIGHT: bold
}
#usernamediv INPUT {
	BORDER-RIGHT: #59aeff 1px solid; BORDER-TOP: #59aeff 1px solid; BORDER-LEFT: #59aeff 1px solid; WIDTH: 130px; BORDER-BOTTOM: #59aeff 1px solid; HEIGHT: 20px
}
#passworddiv INPUT {
	BORDER-RIGHT: #59aeff 1px solid; BORDER-TOP: #59aeff 1px solid; BORDER-LEFT: #59aeff 1px solid; WIDTH: 130px; BORDER-BOTTOM: #59aeff 1px solid; HEIGHT: 20px
}
#container1 A {
	COLOR: #0685ff; TEXT-DECORATION: underline
}
A:visited {
	COLOR: #0685ff; TEXT-DECORATION: underline
}
#container1 A:hover {
	COLOR: #ff8c00; TEXT-DECORATION: none
}
#language A {
	COLOR: #e3effb; TEXT-DECORATION: none
}
#language A:visited {
	COLOR: #e3effb; TEXT-DECORATION: none
}
#language A:hover {
	COLOR: #ff8c00; TEXT-DECORATION: underline
}
#comment {
	PADDING-RIGHT: -5px; PADDING-LEFT: 0px; PADDING-BOTTOM:20px; COLOR: #0685ff; PADDING-TOP:75px; TEXT-ALIGN: right; 
}
#loginbutton INPUT {
	BORDER-RIGHT: 0px; BORDER-TOP: 0px; MARGIN-TOP: 6px; BACKGROUND: url(../images/bk_btn1.gif) no-repeat; PADDING-BOTTOM: 3px; MARGIN-LEFT: 130px; BORDER-LEFT: 0px; WIDTH: 45px; CURSOR: hand; BORDER-BOTTOM: 0px; HEIGHT: 18px
}
#version {
	FONT-WEIGHT: bold; LEFT: 170px; COLOR: #c0def8; FONT-STYLE: italic; POSITION: absolute; TOP: 11px
}
#loginerror {
	RIGHT: 43px; COLOR: #ff0000; POSITION: absolute; TOP: 220px
}
#help {
	RIGHT: 100px; COLOR: #0685ff; POSITION: absolute; TOP: 120px
}
#driver {
	RIGHT: 100px; POSITION: absolute; TOP: 220px
}
#language {
	RIGHT: 3.5em; COLOR: #d8e6f7; BOTTOM: 2.3em; FONT-FAMILY: Verdana, Geneva, Arial, Helvetica, sans-serif; POSITION: absolute; TEXT-ALIGN: right
}
