td.thin_line{
	border:none;
	margin:0;
	padding:0;
	width:95%;
	height:1px;
	background-color:rgb(198,213,245);
}
input.switchButton{
	cursor:pointer;
	background-color:white;
	border:none;
	width:11px;
	height:10px;
}
input.switch_show{	
	background-image:url(../images/show.gif);
}
input.switch_hide{
	background-image:url(../images/hide.gif);
}
