 
#bgDiv{
	background-color:#f7f7f7;
}

#msgTitle{	
	margin:0;
	padding:3px;
	background-color:#336699;
	border:1px solid #336699;
	height:18px;
	font:12px Verdana, Geneva, Arial, Helvetica, sans-serif;
	color:white;
	cursor:pointer;

}

