html {
	padding-right: 0px; 
	padding-left: 0px; 
	font-size: 12px; 
	background: white; 
	padding-bottom: 0px; 
	margin: 0px; 
	padding-top: 0px; 
	font-family: "verdana","arial","helvetica","sans-serif";
}

a {
	color: #03319a; 
	text-decoration: none;
}

a:hover {
	color: blue
}

body {
	padding-right: 0px; 
	padding-left: 0px; 
	font-size: 12px; 
	background: white; 
	padding-bottom: 0px; 
	margin: 0px; 
	padding-top: 0px; 
	font-family: "verdana","arial","helvetica","sans-serif"; 
	color: #111111;
}

h2 {
	margin-top: 5px; 
	font-weight: bold; 
	font-size: 15px; 
	margin-bottom: 3px; 
	color: white
}

h4 {
	margin-top: 12px; 
	font-weight: bold; 
	font-size: 14px; 
	margin-bottom: 3px; 
	color: #000099
}

h6 {
	font-weight: normal;
	font-size: 12px;
	background: url(../images/secdot_on.gif) no-repeat 2px 50%;
	margin: 6px auto 2px 0px;
	color: #03319a;
	text-indent: 1.8em;
	letter-spacing: 1px;	
	text-align: left;
	border: 1px none #00ccff;
}

h5 {
	font-weight: bold;
	font-size: 13px;
	background: url(../images/bullet8.gif) no-repeat 2px 30%;
	margin: 8px auto 8px;
	color: #000099;
	text-indent: 1.8em;
	letter-spacing: 1px;
	border-top-width: 1px;
	border-right-width: 1px;
	border-bottom-width: 1px;
	border-left-width: 1px;
	border-bottom-style: solid;
	border-top-color: #d2e1fd;
	border-right-color: #d2e1fd;
	border-bottom-color: #d2e1fd;
	border-left-color: #d2e1fd;
	text-align: left;
    padding-bottom: 3px;
}
		
hr {
	border-right: c6d5f5 1px solid; 
	border-top: c6d5f5 1px solid; 
	border-left: c6d5f5 1px solid; 
	border-bottom: c6d5f5 1px solid; 
	height: 1px
}

li {
	list-style-position: outside; 
	list-style-image: url(../images/szt1-1_101.gif); 
	margin: auto 3px 6px -15px; 
	vertical-align: text-top
}

input {
	font-size: 12px; 
	font-family: "Verdana","Arial","Helvetica","sans-serif","宋体",simsun;
}

select {
	font-size: 12px; 
	color: #000000;
	font-family: "Arial","Verdana","Helvetica","sans-serif";
	border-right: #9d9d9d 1px solid; 
	border-top: #9d9d9d 1px solid; 
	z-index: 1; 
	background: #efefef; 
	overflow: auto; 
	border-left: #9d9d9d 1px solid; 
	line-height: 140%; 
	border-bottom: #9d9d9d 1px solid; 
	height: 20px
}

td {
	font-size: 12px; 
	font-family: "Verdana","Arial","Helvetica","sans-serif","宋体",simsun;
}

th {
	font-size: 12px; 
	font-family: "Verdana","Arial","Helvetica","sans-serif","宋体",simsun;	
}

input.button {
	 border-right: #acb5b5 1px solid; 
	 border-top: #c4cccc 1px solid; 
	 background: url(../images/background_form_element.gif) #fefefe repeat-x; 
	 border-left: #acb5b5 1px solid; 
	 cursor: pointer; 
	 color: #222222; 
	 border-bottom: #6f7777 1px solid; 
	 height: 20px; 
	 padding-right: 5px; 
	 padding-left: 5px;
	 padding-bottom: 1px;  
	 padding-top: 2px; 
	 font-family: "宋体","Verdana","Arial","Helvetica","sans-serif";
	 margin-left: 3px;
}

option.even {
	background-color: #e4edfc
}

option {
	font-size: 12px; 
	font-family: "Arial","Verdana","Helvetica","sans-serif"; 
	color: #222222; 
}
textarea{
    border-top:1px solid #7898b8;
    border-left:1px solid #7898b8;
    border-right:1px solid #7898b8;
    border-bottom:1px solid #7898b8;
	padding:2px;
	color:#339900;
}
/*remain words*/
.remain{
	border:1px solid #79adcd;
	border-top:1px solid #a8cce9;
	background:#f4f8fc url(../images/ta_tip.gif) repeat-x;
	height:20px;
	line-height:20px;
	margin: auto;
	margin-top:-2px;
	color:#165e9e;
	text-align:right;	
}
.remain span{color:#f00;}

tr.even {
	background-color: #f7f9fe
}

tr.even td {
	background-color: #f7f9fe
}

.even textarea {
	background-color: #f7f9fe
}

.arrow {
	font-family: Webdings! important
}
.arrow a {
	font-family: Webdings! important
}

.tb_comment {
	padding-left: 5px;
	padding-right: 5px;  
	padding-top: 5px; 
	text-align: left; 
	letter-spacing: 2px;
	margin-top: 5px; 
	margin-bottom: 5px;
	line-height:120%; 
}

.error {
	color: red
}

.Icon {
	border-right: 0px; 
	border-top: 0px; 
	margin-bottom: -3px; 
	margin-left: 1px; 
	border-left: 0px; 
	margin-right: 1px; 
	border-bottom: 0px;
}

.icon1 {
	border-right: 0px; 
	border-top:0px; 
	margin-bottom: 0px; 
	margin-left: 3px; 
	border-left: 0px; 
	margin-right: 5px; 
	border-bottom: 0px; 
	margin-top: 3px
}

.iconbtn {
	padding-right: 1px; 
	padding-left: 1px; 
	padding-bottom: 1px; 
	padding-top: 1px
}

.iconbtn img {
	border-right: 0px; 
	border-top: 0px; 
	border-left: 0px; 
	border-bottom: 0px
}

.iconbtn:hover {
	left: 1px; position: 
	relative; top: 1px
}

.tb_titlebar {
	border-right: buttonshadow 1px solid; 
	padding-right: 2px; 
	border-top: buttonshadow 1px solid; 
	padding-left: 2px; 
	padding-bottom: 2px; 
	border-left: buttonshadow 1px solid; 
	width: 100%; 
	padding-top: 2px; 
	border-bottom: buttonshadow 1px solid; 
	white-space: nowrap ; 
	margin-top: 3px;
}

.Tb_titlebar2 {
	font-weight:bold; 
	font-size: 14px;  
	text-align: center; 
	background: #f7f9fe;
	border-right: #c0d2f3 1px solid; 
	padding-right: 2px; 
	border-top: #c0d2f3 1px solid; 
	padding-left: 2px; 
	padding-bottom: 2px; 
	border-left: #c0d2f3 1px solid; 
	width: 100%; 
	padding-top: 4px; 
	white-space: nowrap ; 
	margin-top: 3px;
}

.tb_titlebar2 td {
	 font-size: 14px;
}

.div_subtitle {
	 margin-top: 5px;  
	 background-image: url(../images/bullet6.gif); 
	 vertical-align: bottom; 
	 text-indent: 16px; 
	 background-repeat: no-repeat;
}

.tb_toptab1 {
	font-weight: bold;
	padding-top: 4px;
	border-bottom: 2px ridge;
}

#tb_toptab {
	width: 100%;
	background-image: url(../images/bk_nav.gif);
}

#tb_toptab .active {
	background: #e1e1e1; 
	border-bottom: medium none;
	padding-left:8px; 
	padding-right:8px;
}

#tb_toptab .active a {
	cursor: default; 
	color: blue;
}

#tb_toptab .active a:hover {
	cursor: default; 
	color: blue
}

#tb_toptab .tab {
	padding-left:8px; 
	padding-right:8px;
}

#tb_toptab a {
	display: block; 
	color: white; 
	position: relative; 
	text-align: center; 
	text-decoration: none;
}

#tb_toptab a:hover {
	color: #ffd700
}

#tb_toptab td {
	font-weight: bold; 
	padding-top: 4px; 
	border-bottom: 2px ridge
}

/*** Define the Data List Table's style ,such as datagrid, ***/
.tb_prompt1 {
	border-right: 1px solid #b4c9f1;
	background: #eaf0fb;
	border-left: 1px solid #b4c9f1;
	width: 350px;
	border-bottom: 1px solid #b4c9f1;
	border-top-width: 1px;
	border-top-style: solid;
	border-top-color: #b4c9f1;
	text-align: center;
	position: relative;
	top: 40%;
}

.tb_prompt1 .tr_Ptitle td {
	border-top: white 1px solid;
	text-align: left;
	background: #d2e1fd;
	border-left: white 1px solid;	
}

.tb_prompt1 .tr_Ptitle {
	border-top: white 1px solid;
	text-align: left;
	background: #d2e1fd;
	border-left: white 1px solid;
	text-indent: 4px;
	padding: 4px;
}

/*** Define the Input form Table's style ,such as User register table ****/

.tb_input {
	background: #c6d5f5;  
	margin-bottom: 5px; 
	width: 100% ;
}

.tb_input .even textarea {
	background-color: #f7f9fe
}

.tb_input td.even {
	background-color: #f7f9fe
}

.tb_input tr.even td {
	background-color: #f7f9fe
}

.tb_input td {
	padding-right: 1px; 
	padding-left:4px; 
	background: white;  
	padding-top: 3px;
	padding-bottom: 1px;
}

.tb_input th {
	font-weight: bold; 
	background: #eaf0fb
}

.tb_input .td_head td {
	border-top: white 1px solid; 
	border-left: white 1px solid ;
	text-align : left;
}

.tb_input .td_head {
	border-top: white 1px solid; 
	border-left: white 1px solid ;
	text-align : left;
}

.tb_input .td_title td {
	 background: #eaf0fb
}

.tb_input .td_title {
	 background: #eaf0fb
}

.tb_input .td_title2 {
	 background: #ffffff
}

.tb_input .td_detail td {
}

.tb_input .td_detail {
}

.tb_input .td_tail td {
	border-top: white 1px solid; 
	border-left: white 1px solid ; 
	text-align: right;
}

.tb_input .td_tail {
	border-top: white 1px solid; 
	border-left: white 1px solid ; 
	text-align: right;
}


.dotline {
	background: url(../images/1dot.gif) repeat-x; 
	margin: 4px auto; 
	line-height: 1px
}

.vline {
	background-position: center 50%; 
	background-image: url(../images/vline.gif); 
	background-repeat: no-repeat
}

.vline1 {
	background-position: center 50%; 
	background-image: url(../images/vline1.gif); 
	background-repeat: no-repeat
}

/* Defined as the Top Link Table's style ,such as feedback.log.version.help  */

#tb_content {
	padding-right: 5px; 
	padding-left: 5px; 
	margin-bottom: 5px; 
	width: 100%; 
}

#tb_topcontent{
	border-right: 0px; 
	border-top: 0px; 
	border-left: 0px;
	width: 100%; 
	border-bottom: 0px; 
	height: 100%
}

#header {
	border-right: 0px; 
	border-top: 0px; 
	background: #3366cc; 
	visibility: visible; 
	border-left: 0px; 
	width: 100%; 
	border-bottom: 0px; 
	height: 64px
}

#tb_iconbar {
	font-size: 12px; 
	background: #eeeeee; 
	width: 100%; 
	height: 22px
}

#tb_iconbar a {
	border-right: #eeeeee 1px solid; 
	padding-right: 4px; 
	border-top: #eeeeee 1px solid; 
	padding-left: 4px; 
	padding-bottom: 1px; 
	margin: 1px 2px; 
	border-left: #eeeeee 1px solid; 
	color: #00008b; 
	padding-top: 1px; 
	border-bottom: #eeeeee 1px solid; 
	text-decoration: none
}

#tb_iconbar a:hover {
	border-right: gray 1px solid; 
	border-top: white 1px solid; 
	border-left: white 1px solid; 
	color: blue; 
	border-bottom: gray 1px solid
}

#tb_iconbar .button {
	padding-right: 1px; 
	padding-left: 1px; 
	padding-bottom: 1px; 
	margin: 0px 1px; 
	padding-top: 1px;
}

#tb_topuser {
	z-index: 10;
	right: 0px;
	background: url(../images/tab_bg.gif) repeat-x;
	float: right;
	margin-left: auto;
	width: 170px;
	color: #a4a4ff;
	margin-right: 0px;
	position: absolute;
	text-align: right;
	top: 0px;
}

#tb_topuser a {
	color: #c0def8
}

#tb_topuser a:hover {
	color: yellow
}

.version1 {
	font-weight: bold; 
	z-index: 20; 
	left: 252px; 
	color: #c0def8; 
	font-style: italic; 
	position: absolute; 
	top: 12px
}

td.left-nav {
	padding-bottom: 1px; 
	padding-top: 5px;
	padding-left: 1px; 
	padding-right: 2px;
}

a.left-nav {
	color: #000000; 
	text-decoration: none
}

a.left-nav:link {
	color: #222222; 
	text-decoration: none
}

a.left-nav:visited {
	color: #222222; 
	text-decoration: none
}

a.left-nav:hover {
	color: #555555; 
	text-decoration: none
}

tr.rlinks td {
	vertical-align: top
}

a.rlinks {
	color: #666
}

a.rlinks:link {
	color: #666; 
	text-decoration: none
}

a.rlinks:visited {
	color: #666; 
	text-decoration: none
}

a.rlinks:hover {
	color: #666; 
	text-decoration: underline
}

/*** Define the PageNumber's Input Style ***/

.pagenumber_input {
	border-right: buttonshadow 1px solid; 
	border-top: buttonshadow 1px solid; 
	border-left: buttonshadow 1px solid;  
	border-bottom: buttonshadow 1px solid; 
	height: 16px; 
	background-color: f1f2f3 ; 
	color: #666;
}

/*** Define the Navigation bar's '>' label style ***/

.arrow_subtitle {
	vertical-align: text-top; 
	font-size: 12px ; 
	padding-left: 5px;  
	padding-right: 5px;
	font-family: "宋体","Arial", "Helvetica", "sans-serif"
}

.pro_tab1 {
	position: relative;
	height: 150px;
	width: 320px;
	text-align: center;
	border: 1px solid #c0d2f3;
	margin-top: 20px;	
}

.pro_tab1 td{
	background-color: #eaf0fb;
}

.pro_tab1 .tb_top td{
	background-color: #0099ff;
}
	
.home_tab11 {
	margin-top: 4px;
	padding:px;
	width: 98%;
}

.home_tab11 td{
	background-color:#f0f2f6;
	height: 20px;
	border: 1px solid #c0d2f3; padding:3px;
}
	
.home_tab1 {
	border-right: silver 1px solid; 
	background: #c6d5f5; 
	border-left: silver 1px solid; 
	width: 100%; 
	border-bottom: silver 1px solid;
}

.home_tab1 td {
	padding-right: 1px; 
	padding-left: 4px; 
	background: white; 
	padding-bottom: 1px; 
	padding-top: 3px;
}

.home_tab1 .td_top{
	background-color:#c0d2f3;
    height: 23px;
}

.tr_xu {
	Border-top-width: 1px;
	border-right-width: 1px;
	border-bottom-width: 1px;
	border-left-width: 1px;
	border-right-style: dashed;
	border-top-color: #00ccff;
	border-right-color: #00ccff;
	border-bottom-color: #00ccff;
	border-left-color: #00ccff;
	left: -1px;
	left: -1px;
	left: -1px;
	left: -1px;
	left: 1px;
}

.tb_home2{
	border: none #daf1fe;
	padding-left: 6px;
	vertical-align: top;
	background-color: #c3defb;
}

.tb_home2 td{
	text-align: left;
	background-color: #ffffff;
	padding: 2px;
	margin-top: 5px;
	margin-left: 10px;
	vertical-align: top;
}

.tb_home1{
	width: 100%;
	padding-left: 6px;
	vertical-align: top;
}
.tb_home1 td{
	text-align: center;
	background-color: #ffffff;
	padding: 2px;
	margin-top: 5px;
	margin-left: 10px;
	vertical-align: top;
}

.tb_home1 td.x1 {
	border-top-width: 1px;
	border-right-width: 1px;
	border-bottom-width: 1px;
	border-left-width: 1px;
	border-right-style: dashed;
	border-top-color: #cccccc;
	border-right-color: #cccccc;
	border-bottom-color: #cccccc;
	border-left-color: #cccccc;
    background-color: #f7f9fe;
}

.tb_home1 td.x1 td{
	margin-top: 5px;
	margin-right: 4px;
	margin-bottom: 2px;
	margin-left: 8px;
	border: 2px none #cccccc;
	text-align: left;
	color: #999999;
   background-color: #f7f9fe;
}

.tb_home1 td.x2 {
	background-color: #f7f9fe;
	border: none;
}

.tb_home1 td.x2 td{
	margin-top: 5px;
	margin-right: 4px;
	margin-bottom: 2px;
	margin-left: 8px;
	text-align: left;
	color: #999999;
    background-color: #f7f9fe;
}

.fond_b {
	color: #000000;
}

.tb_home11 {
	color: #569800;
	background-image: url(../images/home/map02.jpg);
	height: 30px;
	font-family: "Verdana","Arial","Helvetica","sans-serif";
	font-size: 14px;
	background-repeat: no-repeat;
	background-position: center;
	text-align: center;
	vertical-align: middle;
	font-weight: bold;
	background-color: #ffffff;
}

.tb_home22 {
	color: #0366cb;
	background-image: url(../images/home/map02.jpg);
	height: 30px;
	font-family: "Verdana","Arial","Helvetica","sans-serif";
	font-size: 20px;
	background-repeat: no-repeat;
	background-position: center;
	text-align: center;
	vertical-align: middle;
	font-weight: bold;
	background-color: #ffffff;
}

.tb_home3 {
	color: #0cc7b2;
	background-image: url(../images/home/map02.jpg);
	height: 30px;
	font-family: "Verdana","Arial","Helvetica","sans-serif"; 
	font-size: 14px;
	background-repeat: no-repeat;
	background-position: center;
	text-align: center;
	vertical-align: middle;
	font-weight: bold;
}

.tb_home4 {
	color: #fe8101;
	background-image: url(../images/home/map02.jpg);
	height: 30px;
	font-family: "Verdana","Arial","Helvetica","sans-serif"; 
	font-size: 14px;
	background-repeat: no-repeat;
	background-position: center;
	text-align: center;
	vertical-align: middle;
	font-weight: bold;
}

.t_fond2 {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	color: #999999;
	margin-left: 15px;
	margin-top: 5px;
	margin-bottom: 5px;
	margin-right: 15px;
}

.tb_home11 {
	color: #569800;
	background-image: url(../images/home/map02.jpg);
	height: 30px;
	font-family: "Verdana","Arial","Helvetica","sans-serif";
	font-size: 14px;
	background-repeat: no-repeat;
	background-position: center;
	text-align: center;
	vertical-align: middle;
	font-weight: bold;
	background-color: #ffffff;
}

.tb_home22 {
	color: #0366cb;
	background-image: url(../images/home/map02.jpg);
	height: 30px;
	font-family: "Verdana","Arial","Helvetica","sans-serif";
	font-size: 14px;
	background-repeat: no-repeat;
	background-position: center;
	text-align: center;
	vertical-align: middle;
	font-weight: bold;
	background-color: #ffffff;
}

.tb_home3 {
	color: #0cc7b2;
	background-image: url(../images/home/map02.jpg);
	height: 30px;
	font-family: "Verdana","Arial","Helvetica","sans-serif"; 
	font-size: 14px;
	background-repeat: no-repeat;
	background-position: center;
	text-align: center;
	vertical-align: middle;
	font-weight: bold;
}

.tb_home4 {
	color: #fe8101;
	background-image: url(../images/home/map02.jpg);
	height: 30px;
	font-family: "Verdana","Arial","Helvetica","sans-serif"; 
	font-size: 14px;
	background-repeat: no-repeat;
	background-position: center;
	text-align: center;
	vertical-align: middle;
	font-weight: bold;
}

.t_fond2 {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	color: #999999;
	margin-left: 15px;
	margin-top: 5px;
	margin-bottom: 5px;
	margin-right: 15px;
}
