/*背景层*/
#bgDiv{
	background-color:#777;
}

/*提示框层*/
#msgDiv{
	background-color:white;
	border:1px solid #336699;
	font:12px/1.6em Verdana, Geneva, Arial, Helvetica, sans-serif;
	position:absolute;
	left:50%;
	right:50%;
	width:400px;
	height:100px;
	text-align:center;
	line-height:25px;
}

/*提示框标题栏*/
#msgTitle{	
	margin:0;
	padding:3px;
	background-color:#336699;
	border:1px solid #336699;
	height:18px;
	font:12px Verdana, Geneva, Arial, Helvetica, sans-serif;
	color:white;
	cursor:pointer;

}
