li{ list-style:none;}
.pad20 {padding-left:15px;}
.pad30 {padding-left:50px;}
/* slider */
*.colorBar {
	position: absolute;
	background-color:#c4d8eb;
	z-index:905;top:8px;left: 0px; width: 135px; height: 3px}
*.horizontal_track {
	width: 140px;
	line-height: 0px;
	position: absolute;
	font-size: 0px;
	text-align: left;
	padding: 0px;
	border: 0px solid;
}
*.horizontal_slider {
	background-image: url(../images/slider/ButtonH.gif); 
	width: 10px;
	height: 17px;
	position: absolute;
	line-height: 0;
	margin: 0;
	border: 0px solid;
	cursor: w-resize;
}
*.horizontal_slider_single {
	background-image: url(../images/slider/ButtonH.gif); 
	width: 10px;
	height: 17px;
	position: absolute;
	line-height: 0;
	margin: 0;
	border: 0px solid;
	cursor: w-resize;
}
*.horizontal_slider_double {
	background-image: url(../images/slider/ButtonH.gif); 
	width: 10px;
	height: 17px;
	position: absolute;
	line-height: 0;
	margin: 0;
	border: 0px solid;
	cursor: w-resize;	
}
*.horizontal_slit {
	background-image: url(../images/slider/backgroundH.gif); 
	width: 140px; 
	clip: rect(0px 140px 26px 0px); 
	position: absolute; 
	height: 26px;
	margin: 0;
	border: 0px solid;
}
*.vertical_track {
	background-image: url(../images/slider/backgroundV.gif); 
	width: 60px; 
	clip: rect(0px 60px 140px 0px); 
	position: absolute;
	height: 140px;
	margin: 0;
	border: 0px solid;
}
*.vertical_slider {
	background-image: url(../images/slider/ButtonV.gif); 
	background-repeat:no-repeat ;
	width: 16px;
	height: 8px;
	position: absolute;
	line-height: 0;
	margin: 0;
	border: 0px solid;
	cursor: n-resize;
}

*.display_holder {
	color: #707070;
	background-color: #F4FCFF;
	width: 140px;
	height: 40px;
	text-align: right;
	padding: 0;
	border: 0px solid;
}
.value_display {
	color: #707070;
	background-color: #F4FCFF;
	width: 30px;
	height:18px;
	margin: 0px;
	text-align: left;
	font-size: 9pt;	
	line-height: 15px;
	border: 0px #999 solid;
	cursor: default;
}
