@charset "utf-8";

/*全局table的样式*/
.tableNavi
	{
		width: 100%;
	}
	
.tdStartNavi
	{
		width: 56%;
	}	
	
.tdEndNavi
	{
		width: 44%;
		vertical-align: bottom;
  		text-align: right;
	}	

/*设置当前位置控件中“>”字符样式*/

.arrow_subtitle 
	{
	vertical-align: text-top; 
	font-size: 12px ; 
	padding-left: 5px;  
	padding-right: 5px;
	font-family: "宋体","Arial", "Helvetica", "sans-serif";
	}

/*当前位置控件DIV样式*/
.div_subtitle 
	{
	 margin-top: 5px;  
	 background-image: url(../images/navigation/bullet6.gif); 
	 vertical-align: bottom; 
	 text-indent: 16px; 
	 background-repeat: no-repeat
	}
