﻿.checkAll{
	vertical-align:middle;
	height: 18px;
}

.jumpPage {
	background-image:url(../images/table/gotoPage.gif);
}

.firstPage {
	background-image:url(../images/table/ssbPrevPageL.gif);
}

.prevPage {
	background-image:url(../images/table/ssbPrevPageR.gif);
}

.nextPage {
	background-image:url(../images/table/nextssbPageL.gif);
}

.lastPage {
	background-image:url(../images/table/nextssbPageR.gif);
}

 .pageNav {
	background-color:transparent;
	background-repeat: no-repeat;
	background-position: center;
	border: 0px  #dddddd none;
	width:20px;
	height:18px;
	cursor:pointer;
	vertical-align: -2px;
}

.firstPageD {
	background-image:url(../images/table/ssbPrevPageLDisable.gif);
}

.prevPageD {
	background-image:url(../images/table/ssbPrevPageRDisable.gif);
}

.nextPageD {
	background-image:url(../images/table/nextssbPageLDisable.gif);
}

.lastPageD {
	background-image:url(../images/table/nextssbPageRDisable.gif);
}

.exportXls {
	background-image:url(../images/table/xls.gif);
}

.FFsortASC {
	background-image:url(../images/table/up1.gif);
	background-color:transparent;
	background-repeat: no-repeat;
	background-position: center;
	height:0px;
	width:0px;
	padding:4px 4px 4px 4px;
	display:inline;
	cursor:pointer;
}

.FFsortDESC {
	background-image:url(../images/table/down1.gif);
	background-color:transparent;
	background-repeat: no-repeat;
	background-position: center;
	height:0px;
	width:0px;
	padding:4px 4px 4px 4px;
	display:inline;
	cursor:pointer;
}

.IEsortASC {
	background-image:url(../images/table/up1.gif);
	background-color:transparent;
	background-repeat: no-repeat;
	background-position: center;
	height:5px;
	width:5px;	
	display:inline;
	cursor:pointer;
}
.IEsortDESC {
	background-image:url(../images/table/down1.gif);
	background-color:transparent;
	background-repeat: no-repeat;
	background-position: center;
	height:5px;
	width:5px;	
	display:inline;
	cursor:pointer;
}

.tb_titlebar {
	border-right: buttonshadow 1px solid; 
	padding-right: 2px; 
	border-top: buttonshadow 1px solid; 
	padding-left: 2px; 
	padding-bottom: 2px; 
	border-left: buttonshadow 1px solid; 
	width: 100%; 
	padding-top: 2px; 
	border-bottom: buttonshadow 1px solid; 
	white-space: nowrap ; 
	margin-top: 3px;
}

.tb_titlebar tr{
	text-align: left;
}

.tb_titlebar .tableTitle{
	width: 95%;
	text-align: left;
}
.tb_titlebar .newButton{
	width: 5%;	
}

.tb_searchbar {
	background: #c6d5f5;
	border-right: d4d4d4 1px solid;  
	border-top: d4d4d4 1px solid;   
	border-left: d4d4d4 1px solid; 
	width: 100% ;  
}

.tb_searchbar .select {
	margin-top: 19px! important; 
	text-align: left
}

.tb_searchbar td {
	padding-right: 2px; 
	padding-left: 2px;
	background: #ffffff;  
	padding-bottom: 2px; 
	padding-top: 2px
}

.tb_searchbar th {
	border-top: white 1px solid; 
	background: #b9d0fe; 
	border-left: white 1px solid;
}

.tb_searchbar .td_head td {
	border-top: white 1px solid; 
	border-left: white 1px solid ;
	text-align : left;
}

.tb_searchbar .td_head {
	border-top: white 1px solid; 
	border-left: white 1px solid ;
	text-align : left;
}

.tb_searchbar .td_title td {
	border-top: white 1px solid; 
	background: #eaf0fb; 
	border-left: white 1px solid ;
}

.tb_searchbar .td_title {
	border-top: white 1px solid; 
	background: #eaf0fb; 
	border-left: white 1px solid;
	vertical-align: middle;
}

.tb_searchbar .td_detail td {
}

.tb_searchbar .td_detail {
}

.tb_searchbar .td_tail td {
	border-top: white 1px solid; 
	border-left: white 1px solid ; 
	text-align: right;
}

.tb_searchbar .td_tail {
	border-top: white 1px solid; 
	border-left: white 1px solid ; 
	text-align: right;  
}

.tb_datalist {
	border-right: silver 0px solid; 
	background: #c6d5f5; 
	border-left: silver 0px solid; 
	width: 100%; 
	border-bottom: silver 0px solid;	
}

.tb_datalist_pg {
	width: 100%;
	border-bottom: silver 1px solid;
	border-top: silver 1px solid;
	height: 22px;
}

.tb_datalist .select {
	margin-top: 19px! important; 
	text-align: left;
}

.tb_datalist td {
	padding-right: 0px; 
	padding-left: 0px; 
	background: white no-repeat; 
	padding-bottom: 1px; 
	padding-top: 0px; 
	vertical-align:middle;word-break:break-all;
	overflow:hidden;
	text-align: left;	
}

.tb_datalist tr {
	padding-right: 1px; 
	padding-left: 1px; 
	background: white no-repeat; 
	padding-bottom: 1px; 
	padding-top: 1px;
	/*
	 * overflow: hidden;	
	 */
	overflow: display;	
}

.tb_datalist select {
	font-size: 12px; 
	color: #000000;
	font-family: "arial","verdana","helvetica","sans-serif";
	border-right: #9d9d9d 1px solid; 
	border-top: #9d9d9d 1px solid; 
	z-index: 1; 
	background: #efefef; 
	overflow: auto; 
	border-left: #9d9d9d 1px solid; 
	line-height: 100%; 
	border-bottom: #9d9d9d 1px solid; 
	height: 20px
}

.tb_datalist th {
	border-top: white 1px solid; 
	background: #b9d0fe; 
	border-left: white 1px solid
}

.tb_datalist .tr_head td {
	border-top: white 1px solid; 
	background: #eaf0fb; 
	border-left: white 1px solid ; 
	height:25px ;
}

.tb_datalist .tr_head {
	border-top: white 1px solid; 
	background: #eaf0fb; 
	border-left: white 1px solid ; 
	height:25px ;
}

.tb_datalist .tr_title td {
	border-top: white 1px solid; 
	background: #d2e1fd; 
	border-left: white 1px solid ;
}

.tb_datalist .tr_title {
	border-top: white 1px solid; 
	background: #d2e1fd; 
	border-left: white 1px solid;
}

.tb_datalist .tr_detail th {
    text-align: left;
	font-weight: normal;
	border-top: white 1px solid; 
	background: #d2e1fd; 
	border-left: white 1px solid ;
	overflow:hidden;
}

.tb_datalist .tr_detail {
	border-top: white 1px solid; 
	background: #d2e1fd; 
	border-left: white 1px solid ;
	height: 22px;	
}

.tb_datalist .tr_pagenumber {
	background: #f5f5f5 no-repeat 50% bottom; 
	float: right; 
	color: #5e5e5e; 
	width: 100%; 
	border-top: silver 1px solid ; 
	border-left: silver 1px solid; 
	border-right: buttonshadow 1px solid; 
	vertical-align: bottom; 
	text-align: right; 
}

.tb_datalist_pg .tr_pagenumber {
	background: #f5f5f5 no-repeat 50% bottom; 
	float: right; 
	color: #5e5e5e; 
	width: 100%; 
	border-top: silver 1px solid ; 
	border-left: silver 1px solid; 
	border-right: buttonshadow 1px solid; 
	vertical-align: bottom; 
	text-align: right; 
}

.tb_datalist .tr_pagenumber  td {
	border-top: white 1px solid; 
	background: #e8e8e8; 
	border-left: white 0px solid ; 
	border-right: white 0px solid ; 
	text-align: right; 
	width: 100%;
}

.tb_datalist_pg .tr_pagenumber  td{
	border-top: white 0px solid; 
	background: #e8e8e8; 
	border-left: white 1px solid ; 
	border-right: white 1px solid ; 
	text-align: right; 
	width: 100%;
}
.toolbarTable{
   background: #f5f5f5 no-repeat 50% bottom;
   color: #5e5e5e; 
   width: 100%; 
   vertical-align: middle; 
   text-align: right;   
   border-left: #c6d5f5 2px solid;
   border-right: #c6d5f5 2px solid;
   border-bottom: #c6d5f5 1px solid;   
   table-layout:auto;
   height: 22px; 
}
   
.pageJumpTool {
   vertical-align: middle;
   white-space:nowrap;word-break:keep-all;word-wrap:normal;
   width:85%;
   border-color:#5e5e5e;
}

.resizeTitle {
	float:left;
	width:90%;
	text-align:left;
	padding-top:3px;
	padding-button:0;	
	height: 18px;
    line-height: 18px;	
}

.resizeBar {
	padding: 0px;
	margin: 0px; 
	float:right;
	cursor:e-resize;
	width:3px;
	font-size:1px;
    vertical-align:middle;
	background-color:#D2E1FD;
	display:inline;
	height: 100%;
    line-height: 100%;
}

.toPage { 
	text-align:center;
	width:40px;
	height:18px; 
	ime-mode:disabled;
}

.showPage { 
	text-align:center;
	height:21px; 
	width:21px;
	border:1px solid #96ADC3; 
	background:#e8e8e8 url(../images/table/gradient-glossy.png) repeat-x;
	color:#285A74; 
	padding-top:2px; 
	padding-right:1px; 
	font:12px Arial; 
	font-weight:bold;
	cursor: hand; 
}

.trHover {
	background:#e2ffdb!important;
	color:#098b14;
}

div.scrollContainer {		
	height: 266px; /*must be greater than tbody*/
	overflow: auto;
	overflow-y: hidden;	
	*overflow-y: display;
}

.scrollContainer table{
	width:100%;	/*100% of container produces horiz. scroll in Mozilla*/
}	

.scrollContainer table>tbody	{  /* child selector syntax which IE6 and older do not support*/
	overflow: auto; 
	height: 218px;
	*height: 250px;
	overflow-x:hidden;
}
	
.scrollContainer thead tr	{
	position:relative; 
	top: expression(offsetParent.scrollTop); /*IE5+ only*/
	}

.scrollContainer td:last-child {
	padding-right: 20px;	
} /*prevent Mozilla scrollbar from hiding cell content*/
	
.tb_datalist .tr_odd {
}

.tb_datalist .tr_odd  td {
}

.tb_datalist .tr_even {
	background-color: #f7f9fe
}

.tb_datalist .tr_even  td {
	background-color: #f7f9fe
}

.tb_datalist .tr_selected {
	background-color: #ffffd0
}

.tb_datalist .tr_selected  td {
	background-color: #ffffd0
}

.tb_datalist .tr_tail {
	border-top: white 1px solid; 
	background: ; 
	border-left: white 1px solid ; 
	text-align : right;
}

.tb_datalist .tr_tail  td {
	border-top: white 1px solid; 
	background: ; 
	border-left: white 1px solid ; 
	text-align : right;
}


