.treeIcon{
	height:20px;
	width:17px;
	background-color:white;
	background-repeat:no-repeat;
	border:none;
	padding:0px;
	margin:0px;
}
input.tree_line{
	background-image:url(../images/tree/tree_line.gif);
}
input.tree_plus{
	cursor:pointer;
	background-image:url(../images/tree/tree_plus.gif);
}
input.tree_minus{
	cursor:pointer;
	background-image:url(../images/tree/tree_minus.gif);
}
input.tree_blank{
	background-image:url(../images/tree/tree_blank.gif);
}
input.tree_plusl{
	cursor:pointer;
	background-image:url(../images/tree/tree_plusl.gif);
}
input.tree_minusl{
	cursor:pointer;
	background-image:url(../images/tree/tree_minusl.gif);
}
input.tree_blankl{
	background-image:url(../images/tree/tree_blankl.gif);
}
DIV.nodeDiv{
	white-space:nowrap;
	height:20px;
}
SPAN.nodeText{
	cursor:pointer;
}