.ip
{
	border-collapse:collapse;
    border:1px solid #666666;
	font-size:12px;
    width:120px;    
}
.ip_fld
{
    width:21%;
    margin:0;
	padding:0;
}
.ip_fld input
{
    text-align:center;
	border:none;
    width:100%; 
}
.ip_dot
{
    width:4%;
    margin:0;
	padding:0;
}