@charset "utf-8";

/*Calendar控件的点击图标样式*/
.imgCalendar
	{
		border: 0px;
		cursor: pointer;	
	}

/*Calendar控件的全局iframe样式*/
#iframe_id
	{	
		position: absolute;
		z-index: 9;
		left: expression(this.nextSibling.offsetLeft);
		width:expression(this.nextSibling.offsetWidth);
		height:expression(this.nextSibling.offsetHeight);
		top:expression(this.nextSibling.offsetTop);
		border: 0px;
	}

/*Calendar控件的全局div样式*/
#VicPopCal 
	{	
	    text-align: center;
		position: absolute;
		visibility: hidden; 
		border: 1px ridge;
      	z-index: 10;   	
      	width: 240px;    	
    }
    
 /*Calendar控件的全局table样式*/
.tableCalendar
	{
		width: 100%; 
        background-color: #cccccc;
        border: 0px;
	}

/*Calendar控件的td居中样式*/
.tdCenter
	{
		text-align: center
    }

/*Calendar控件的向前按钮”<”样式*/
.prevMonthBtn
	{
		font-weight: bold; 
		width: 10%; 
		height: 20px;
	}

/*Calendar控件的Year选择Select样式*/
.yearSelect
	{
		width: 36%; 
		height: 20px;
	}

/*Calendar控件的Month选择Select样式*/
.monthSelect
	{
		width: 33%; 
		height: 20px;
	}
	
/*Calendar控件的向后按钮”>”样式*/
.nextMonthBtn
	{
		font-weight: bold; 
		width: 10%; 
		height: 20px;
	}

/*Calendar的日期选择面板div样式*/
#divCalendarPanel
	{
		background-color: #3366cc;
	}	

/*Calendar的日期选择面板table样式*/
.tableCalendarPanel
	{
		width: 98%;
		border: 0px;
	}
	
/*Calendar的日期选择面板表头星期td样式*/
.tdCalendarPanelHead
	{
		background-color: #e5e6ec;
		border-color: #e5e6ec;
		text-align: center;
		height: 20px;
		font-weight: bold;
		font-family: Arial;
		font-size: 12px;
		color: #990099;	
		width: 14%;	
	}

/*Calendar的日期选择面板内容td样式*/
.tdCalendarPanelCell
	{
		background-color: #e5e6ec;
		border-color: #e5e6ec;
		text-align: center;
		height: 20px;
		font-weight: bold;
		font-family: Arial;
		font-size: 12px;
		cursor: pointer;	
	}
	
/*Calendar的日期选择面板内容不在当前月份的日期font样式*/
.fontOutMonth 
	{
		color: #808080;
	}

/*Calendar的日期选择面板内容不在当前月份的日期font样式*/
.fontInMonth
	{
		color: black;
	}

/*Calendar的日期选择面板内容在当前月份的周末日期font样式*/
.fontWeekend
	{
		color: blue;
	}

/*Calendar的日期选择面板内容在当前月份的今天日期div样式*/
.divToday
	{
		width: 100%;
		height: 100%;
		text-align: center;
		background-color: yellow;
	}

/*Calendar的日期选择面板内容在当前月份的上次选择日期div样式*/
.divLastSelectDay
	{
		width: 100%;
		height: 100%;
		text-align: center;
		background-color: buttonface;
	}
	
/*Calendar的日期选择面板内容鼠标滑入的td样式*/
.tdOnMouseOver
	{
		background-color: #FB8664;
		border-color: #e5e6ec;
		text-align: center;
		height: 20px;
		font-weight: bold;
		font-family: Arial;
		font-size: 12px;
		cursor: pointer;
	}
	
/*Calendar的日期选择面板内容鼠标滑出的td样式*/
.tdOnMouseOut
	{
		background-color: #e5e6ec;
		border-color: #e5e6ec;
		text-align: center;
		height: 20px;
		font-weight: bold;
		font-family: Arial;
		font-size: 12px;
		cursor: pointer;
	}

/*Calendar的日期选择面板内容选中时的td中div样式*/
.divOnSelect
	{
		text-align: center;
		background-color: green;
	}	

/*Calendar控件的清空、今天、时分秒面板table样式*/
.tbTodayAndTimePanel
	{
		width: 100%;
		background-color: #cccccc;
	}
	
/*Calendar控件的清空link样式*/
.linkClear
	{
		font-weight: bold;
		cursor: pointer;
	}

/*Calendar控件的今天link样式*/
.linkToday
	{
		font-weight: bold;
		cursor: pointer;
	}
	
/*Calendar控件的今天link样式*/
.linkConfirm
	{
		font-weight: bold;
		cursor: pointer;
	}
	
/*Calendar控件的清空、今天link鼠标滑入样式*/
.linkOnMouseOver
	{
	    color: #FB8664;
		font-weight: bold;
		cursor: pointer;
	}
	
/*Calendar控件的清空、今天link鼠标滑出样式*/
.linkOnMouseOut
	{
		font-weight: bold;
		cursor: pointer;
	}

/*Calendar控件的时间快速选择的外界Table样式*/	
.tbQuickSelectTimePanel
{
	width: 100%;
	border: 1px;
	background-color: white;
	border-color: #e5e6ec;
}
	
/*Calendar控件的时间快速选择的内部Table样式*/
.tbQuickSelectTime
{
	width: 100%;
	border: 0px;
}
	
/*Calendar控件的时间快速选择的font样式*/
.divQuickSelectHead
	{
		text-align: left;
		font-weight: bold;
		font-size: 14px;
		color: blue;
	}
	
/*Calendar控件的时间快速选择标题的td样式*/	
.tdQuickSelectHead
{
	text-align: left;
}
	
/*Calendar控件的时间快速选择的td样式*/
.tdQuickSelectCell
	{
		text-align: left;
		background-color: #e5e6ec;
		border-color: #e5e6ec;
		height: 20px;
		font-weight: bold;
		font-family: Arial;
		font-size: 12px;
		cursor: pointer;
	}

/*Calendar控件的时间快速选择时间输入的td鼠标滑入样式*/
.tdOnMouseOverQuickSelect
	{
		background-color: #FB8664;
		border-color: #e5e6ec;
		text-align: center;
		height: 20px;
		font-weight: bold;
		font-family: Arial;
		font-size: 12px;
		cursor: pointer;
	}

/*Calendar控件的时间快速选择时间输入的td鼠标滑出样式*/
.tdOnMouseOutQuickSelect
	{
		text-align: left;
		background-color: #e5e6ec;
		border-color: #e5e6ec;
		height: 20px;
		font-weight: bold;
		font-family: Arial;
		font-size: 12px;
		cursor: pointer;
	}
	
/*Calendar控件的时间快速选择时间输入的td样式*/
.tdQuickSelectHHmmss
	{
		text-align: left;
		font-weight: bold;
	}
	
/*Calendar控件的时间快速选择Button的td样式*/
.tdQuickSelectBtn
{
	text-align: right;
}

/*Calendar控件的清空、今天、确定的Button的td样式*/
.tdOperationBtn
{
	text-align: right;
}

/*Calendar控件的input输入框样式*/
.calInputClass{

}
	
