
.ui-colorbar-bg {
	width: 200px;
	height: 15px;
	border-width: 1px;
	border-color: #CECEF6;
	border-style: solid ;
	padding: 0px;
	margin: 0;
	overflow: hidden;
}
	
.ui-colorbar-bg .ui-colorbar-fg {
	float: left;
	width: 0%;
	height: 15px;
	background-color: #BEF781;
	overflow: hidden;
}

.ui-title-div {
	display: none;
	border: 1px solid #333;
	overflow: hidden;
	position: absolute;
	background-color: white;
}
	
