#floaters { /* LOV中单选树和多选树类型中按钮的样式 */
    right: 20; 
    top: 420; 
    width: 200; 
    position: absolute; 
    visibility: visible;
} 
.tb_lov_searchbar .td_title {/*查询条件部分的table中对应输入框的单个查询条件所在的TD的样式*/
	BORDER-TOP: white 1px solid; BACKGROUND: #EAF0FB; BORDER-LEFT: white 1px solid
}
.tb_lov_searchbar { /*查询条件部分的table的整体样式*/
	BACKGROUND: #C6D5F5;BORDER-RIGHT: #D4D4D4 0px solid;  BORDER-TOP: #D4D4D4 0px solid;   BORDER-LEFT: #D4D4D4 0px solid; WIDTH: 100% ;BORDER-BOTTOM: #D4D4D4 0px solid;  
}
.tb_lov_searchbar TD {/*查询条件部分的table中TD的一般样式*/
	PADDING-RIGHT: 2px; PADDING-LEFT: 2px;BACKGROUND: #ffffff;  PADDING-BOTTOM: 2px; PADDING-TOP: 2px
}