/*** Default Html Label's  style ***/
HTML {
	PADDING-RIGHT: 0px;
	PADDING-LEFT: 0px;
	FONT-SIZE: 12px;
	BACKGROUND: white;
	PADDING-BOTTOM: 0px;
	MARGIN: 0px;
	PADDING-TOP: 0px;
	FONT-FAMILY: "Verdana", "Arial", "Helvetica", "sans-serif";
}

A {
	COLOR: #03319A;
	TEXT-DECORATION: none
}

A:hover {
	COLOR: blue
}

BODY {
	PADDING-RIGHT: 0px;
	PADDING-LEFT: 0px;
	FONT-SIZE: 12px;
	BACKGROUND: white;
	PADDING-BOTTOM: 0px;
	MARGIN: 0px;
	PADDING-TOP: 0px;
	FONT-FAMILY: "Verdana", "Arial", "Helvetica", "sans-serif";
	COLOR: #111111;
}

HR {
	BORDER-RIGHT: C6D5F5 1px solid;
	BORDER-TOP: C6D5F5 1px solid;
	BORDER-LEFT: C6D5F5 1px solid;
	BORDER-BOTTOM: C6D5F5 1px solid;
	HEIGHT: 1px
}

/*
INPUT {
	FONT-SIZE: 12px; FONT-FAMILY: "Verdana","Arial","Helvetica","sans-serif","17171717",simsun;
}
*/
TD {
	FONT-SIZE: 12px;
	FONT-FAMILY: "Verdana", "Arial", "Helvetica", "sans-serif", "17171717",
		simsun;
	padding: 0;
	overflow: hidden;
}

TH {
	FONT-SIZE: 12px;
	FONT-FAMILY: "Verdana", "Arial", "Helvetica", "sans-serif", "17171717",
		simsun
}

INPUT.button {
	BORDER-RIGHT: #acb5b5 1px solid;
	BORDER-TOP: #c4cccc 1px solid;
	BACKGROUND: url(../images/background_form_element.gif) #fefefe repeat-x;
	BORDER-LEFT: #acb5b5 1px solid;
	CURSOR: pointer;
	COLOR: #222222;
	BORDER-BOTTOM: #6f7777 1px solid;
	HEIGHT: 20px;
	PADDING-RIGHT: 5px;
	PADDING-LEFT: 5px;
	PADDING-BOTTOM: 1px;
	PADDING-TOP: 2px;
	FONT-FAMILY: "17171717", "Verdana", "Arial", "Helvetica", "sans-serif";
	MARGIN-left: 3px;
}

OPTION.even {
	BACKGROUND-COLOR: #e4edfc;
}

OPTION {
	FONT-SIZE: 12px;
	FONT-FAMILY: "Arial", "Verdana", "Helvetica", "sans-serif";
	COLOR: #222222;
}

TR.even {
	BACKGROUND-COLOR: #F7F9FE
}

TR.even TD {
	BACKGROUND-COLOR: #F7F9FE
}

.even TEXTAREA {
	BACKGROUND-COLOR: #F7F9FE
}

.arrow {
	FONT-FAMILY: Webdings ! important
}

.arrow A {
	FONT-FAMILY: Webdings ! important
}

/***  ***/
.jumpPage {
	background-image: url(../images/table/gotoPage.gif);
}

.firstPage {
	background-image: url(../skins/common/page_first_a.gif);
}

.prevPage {
	background-image: url(../skins/common/page_pre_a.gif);
}

.nextPage {
	background-image: url(../skins/common/page_next_a.gif);
}

.lastPage {
	background-image: url(../skins/common/page_last_a.gif);
}

.pageNav {
	background-color: transparent;
	background-repeat: no-repeat;
	background-position: center;
	border: 0px #dddddd none;
	width: 20px;
	height: 18px;
	cursor: pointer;
	vertical-align: -2px;
}

.firstPageD {
	background-image: url(../skins/common/page_first_b.gif);
}

.prevPageD {
	background-image: url(../skins/common/page_pre_b.gif);
}

.nextPageD {
	background-image: url(../skins/common/page_next_b.gif);
}

.lastPageD {
	background-image: url(../skins/common/page_last_b.gif);
}

.exportXls {
	background-image: url(../images/table/xls.gif);
}

.FFsortASC {
	background-image: url(../images/table/up1.gif);
	background-color: transparent;
	background-repeat: no-repeat;
	background-position: center;
	height: 0px;
	width: 0px;
	padding: 4px 4px 4px 4px;
	display: inline;
	BACKGROUND-REPEAT: no-repeat; 
	BACKGROUND-POSITION: center 50%; 
}

.FFsortDESC {
	background-image: url(../images/table/down1.gif);
	background-color: transparent;
	background-repeat: no-repeat;
	background-position: center;
	height: 0px;
	width: 0px;
	padding: 4px 4px 4px 4px;
	display: inline;
	BACKGROUND-REPEAT: no-repeat; 
	BACKGROUND-POSITION: center 50%; 
}

.IEsortASC {
	background-image: url(../images/table/up1.gif);
	background-color: transparent;
	background-repeat: no-repeat;
	background-position: center;
	height: 5px;
	width: 5px;
	padding: 4px 4px 4px 4px;
	display: inline;
	BACKGROUND-REPEAT: no-repeat; 
	BACKGROUND-POSITION: center 50%; 
	zoom:1; 
	_padding:0px 4px;
}

.IEsortDESC {
	background-image: url(../images/table/down1.gif);
	background-color: transparent;
	background-repeat: no-repeat;
	background-position: center;
	height: 5px;
	width: 5px;
	padding: 4px 4px 4px 4px;
	display: inline;
    BACKGROUND-REPEAT: no-repeat; 
	BACKGROUND-POSITION: center 50%; 
	zoom:1; 
	_padding:0px 4px;
}

.tb_titlebar {
	BORDER-RIGHT: buttonshadow 1px solid;
	PADDING-RIGHT: 2px;
	BORDER-TOP: buttonshadow 1px solid;
	PADDING-LEFT: 2px;
	PADDING-BOTTOM: 2px;
	BORDER-LEFT: buttonshadow 1px solid;
	WIDTH: 100%;
	PADDING-TOP: 2px;
	BORDER-BOTTOM: buttonshadow 1px solid;
	WHITE-SPACE: nowrap;
	MARGIN-top: 3px;
}

/*** Define the Data List Table's style ,such as datagrid, ***/
.tb_datalist {
	BORDER-RIGHT: silver 0px solid;
	BACKGROUND: #C6D5F5;
	BORDER-LEFT: silver 0px solid;
	WIDTH: 100%;
	BORDER-BOTTOM: silver 0px solid;
	table-layout: fixed;
}

.tb_datalist_pg {
	WIDTH: 100%;
	BORDER-BOTTOM: silver 1px solid;
	BORDER-TOP: silver 1px solid;
	height: 22px;
}

.tb_datalist .select {
	MARGIN-TOP: 19px ! important;
	TEXT-ALIGN: left;
}

.tb_datalist TD {
	PADDING-RIGHT: 0px;
	PADDING-LEFT: 4px;
	BACKGROUND: white no-repeat;
	PADDING-BOTTOM: 1px;
	PADDING-TOP: 0px;
	vertical-align: middle;
	word-break: break-all;
	overflow: hidden;
}

.tb_datalist TR {
	PADDING-RIGHT: 1px;
	PADDING-LEFT: 1px;
	BACKGROUND: white no-repeat;
	PADDING-BOTTOM: 1px;
	PADDING-TOP: 1px;
	overflow: hidden;
}

.tb_datalist SELECT {
	FONT-SIZE: 12px;
	COLOR: #000000;
	FONT-FAMILY: "Arial", "Verdana", "Helvetica", "sans-serif";
	BORDER-RIGHT: #9d9d9d 1px solid;
	BORDER-TOP: #9d9d9d 1px solid;
	Z-INDEX: 1;
	BACKGROUND: #efefef;
	OVERFLOW: auto;
	BORDER-LEFT: #9d9d9d 1px solid;
	LINE-HEIGHT: 100%;
	BORDER-BOTTOM: #9d9d9d 1px solid;
	HEIGHT: 20px
}

.tb_datalist TH {
	BORDER-TOP: white 1px solid;
	BACKGROUND: #B9D0FE;
	BORDER-LEFT: white 1px solid
}

.tb_datalist .tr_head TD {
	BORDER-TOP: white 1px solid;
	BACKGROUND: #EAF0FB;
	BORDER-LEFT: white 1px solid;
	height: 25PX;
}

.tb_datalist .tr_head {
	BORDER-TOP: white 1px solid;
	BACKGROUND: #EAF0FB;
	BORDER-LEFT: white 1px solid;
	height: 25PX;
}

.tb_datalist .tr_title TD {
	BORDER-TOP: white 1px solid;
	BACKGROUND: #D2E1FD;
	BORDER-LEFT: white 1px solid;
}

.tb_datalist .tr_title {
	BORDER-TOP: white 1px solid;
	BACKGROUND: #D2E1FD;
	BORDER-LEFT: white 1px solid;
}

.tb_datalist .tr_detail TD {
	BORDER-TOP: white 1px solid;
	background: url(../skins/default/images/smsedit_bg.gif) repeat-x;
	color: #165e9e;
	BORDER-LEFT: white 1px solid;
	overflow: hidden;
}

.tb_datalist .tr_detail {
	BORDER-TOP: white 1px solid;
	BACKGROUND: #D2E1FD;
	BORDER-LEFT: white 1px solid;
	height: 22px;
}

.tb_datalist .tr_pagenumber {
	BACKGROUND: #f5f5f5 no-repeat 50% bottom;
	FLOAT: right;
	COLOR: #5e5e5e;
	WIDTH: 100%;
	BORDER-top: silver 1px solid;
	BORDER-left: silver 1px solid;
	BORDER-right: buttonshadow 1px solid;
	VERTICAL-ALIGN: bottom;
	TEXT-ALIGN: right;
}

.tb_datalist_pg .tr_pagenumber {
	BACKGROUND: #f5f5f5 no-repeat 50% bottom;
	FLOAT: right;
	COLOR: #5e5e5e;
	WIDTH: 100%;
	BORDER-top: silver 1px solid;
	BORDER-left: silver 1px solid;
	BORDER-right: buttonshadow 1px solid;
	VERTICAL-ALIGN: bottom;
	TEXT-ALIGN: right;
}

.tb_datalist .tr_pagenumber  TD {
	BORDER-TOP: white 1px solid;
	BACKGROUND: #E8E8E8;
	BORDER-LEFT: white 0px solid;
	BORDER-right: white 0px solid;
	TEXT-ALIGN: right;
	WIDTH: 100%;
}

.tb_datalist_pg .tr_pagenumber  TD {
	BORDER-TOP: white 0px solid;
	BACKGROUND: #E8E8E8;
	BORDER-LEFT: white 1px solid;
	BORDER-right: white 1px solid;
	TEXT-ALIGN: right;
	WIDTH: 100%;
}

.toolbarTable td { /*
   BACKGROUND: #f5f5f5 no-repeat 50% bottom;
   COLOR: #5e5e5e; 
   WIDTH: 100%; 
   VERTICAL-ALIGN: middle; 
   TEXT-ALIGN: right;   
   BORDER-left: #C6D5F5 2px solid;
   BORDER-right: #C6D5F5 2px solid;
   BORDER-bottom: #C6D5F5 1px solid;   
   table-layout:auto;
   height: 22px;
   */
	text-align: right;
	background-color: #e2edf6;
}

.toolbarTable select {
	width: auto;
	margin-bottom: 5px;
}

.pageJumpTool {
	VERTICAL-ALIGN: middle;
	white-space: nowrap;
	word-break: keep-all;
	word-wrap: normal;
	width: 85%;
	border-color: #5e5e5e;
}

.resizeTitle {
	float: left;
	width:90%;
	text-align: center;
	padding-top: 3px;
	padding-button: 0;
	height: 18px;
    line-height: 18px;	
}

.resizeBar {
	padding: 0px;
	margin: 0px;
	float: right;
	cursor: e-resize;
	width: 1%;
	font-size: 1px;
	vertical-align: middle;
	/*background-color:#D2E1FD;*/
	display: inline;
	height: 18px;
	line-height: 18px;
}

.toPage {
	text-align: center;
	width: 30px;
	height: 15px;
	margin-top: 7px;
	ime-mode:disabled;
}

.showPage {
    text-align:center;
	height:21px; 
	width:21px;
	border:1px solid #96ADC3; 
	background:#fffff url(../images/table/gradient-glossy.png) repeat-x;
	color:#285A74; 
	padding-top:2px; 
	padding-right:1px; 
	font:12px Arial; 
	font-weight:bold;
	cursor: hand;
	filter: progid :   DXImageTransform .   Microsoft . 
		
		Gradient(gradientType =   0, startColorStr =   #FFFFFF, endColorStr = 
		 #EAEAE7;
}

.tb_datalist .tr_odd {
	
}

.tb_datalist .tr_odd  TD {
	
}

.tb_datalist .tr_even {
	BACKGROUND-COLOR: #F7F9FE
}

.tb_datalist .tr_even  TD {
	BACKGROUND-COLOR: #F7F9FE
}

.tb_datalist .tr_selected {
	BACKGROUND-COLOR: #FFFFD0
}

.tb_datalist .tr_selected  TD {
	BACKGROUND-COLOR: #FFFFD0
}

tr_selected {
	
}

.tb_datalist .tr_tail {
	BORDER-TOP: white 1px solid;
	BACKGROUND: ;
	BORDER-LEFT: white 1px solid;
	text-align: Right;
}

.tb_datalist .tr_tail  TD {
	BORDER-TOP: white 1px solid;
	BACKGROUND: ;
	BORDER-LEFT: white 1px solid;
	text-align: Right;
}

.trHover {
	background: #e2ffdb;
	color: #098b14;
}