body {
margin:0px;
padding:0px;
border :0px none #ffffff;
font-size: 12px;
overflow:auto;
scrollbar-face-color:#D6D3CE;
scrollbar-arrow-color:#666666;
scrollbar-highlight-color:#D6D3CE;
scrollbar-3dlight-color:#FFFFFF;
scrollbar-shadow-color:#D6D3CE;
scrollbar-darkshadow-color:#666666;
scrollbar-track-color:#EEEEEE;
}
A {
	COLOR: #03319A; TEXT-DECORATION: none
}
A:hover {
	COLOR: blue
}
button{
	background-color:transparent;
	background-image:url(../images/button1.gif);
	background-repeat: repeat-x;
	border: outset 1px  #bbbbbb;
	border-collapse:  separate;
	vertical-align: bottom;
	color:#333333;
	cursor:pointer;
	height:22px;
	width:80px;
	margin:3px 4px 3px 4px;
	padding: 3px 3px 0px 3px;
}

div {
	font-size: 12px;
	border :0px none #ffffff;
}

td {
	font-size: 12px;
}

img {
	border:0px none;
}

form {
	padding:0px;
	margin:0px;
		border:0px solid #cc9966;

}

SELECT {
	FONT-SIZE: 12px; COLOR: #000000;FONT-FAMILY: "Arial","Verdana","Helvetica","sans-serif";
BORDER-RIGHT: #9d9d9d 1px solid; BORDER-TOP: #9d9d9d 1px solid; Z-INDEX: 1; BACKGROUND: #efefef; OVERFLOW: auto; BORDER-LEFT: #9d9d9d 1px solid; LINE-HEIGHT: 140%; BORDER-BOTTOM: #9d9d9d 1px solid; HEIGHT: 10px

}
.ecsideWaitingBar {
position:absolute;
top:0px;
left:0px;
z-index:99;
border:1px solid #336699;
padding:2px;
background-color:red;
color:white;
display:none;
white-space:nowrap;word-break:keep-all;word-wrap:normal;
}

.eXtremeTable {
	border :0px solid red;
	padding:0px;
	margin:0px;
}

.eXtremeTable .inputtext {
	border:1px solid #cc9966;
	font-size:12px;
	padding:0px;
	margin:0px;
	width:100%;
}




.eXtremeTable .breakLine {
white-space:normal;
word-break:break-all;
word-wrap:break-word;
}
.eXtremeTable .breakLine TD {
white-space:normal;
word-break:break-all;
word-wrap:break-word;
}


.eXtremeTable .noBreakLine {
white-space:nowrap;word-break:keep-all;word-wrap:normal;
}

.eXtremeTable .noBreakLine TD {
white-space:nowrap;word-break:keep-all;word-wrap:normal;
}

.eXtremeTable INPUT.radio {
font-size:12px;
width: auto;
}

.eXtremeTable INPUT.checkbox {
font-size:12px;
width: auto;
}


.eXtremeTable select {
	FONT-SIZE: 12px; 
	COLOR: #000000;
	FONT-FAMILY: "Arial","Verdana","Helvetica","sans-serif";
   BORDER-RIGHT: #9d9d9d 1px solid; 
   BORDER-TOP: #9d9d9d 1px solid; 
   Z-INDEX: 1; 
   BACKGROUND: #efefef; 
   OVERFLOW: auto; 
   BORDER-LEFT: #9d9d9d 1px solid; 
   LINE-HEIGHT: 140%; 
   BORDER-BOTTOM: #9d9d9d 1px solid; 
   HEIGHT: 10px;
   width:auto;
}

.eXtremeTable button{
	background-color:transparent;
	background-image:url(../images/button1.gif);
	background-repeat: repeat-x;
	border: outset 1px  #bbbbbb;
	border-collapse:  separate;
	vertical-align: bottom;
	color:#333333;
	cursor:pointer;
	height:22px;
	width:80px;
	margin:3px 4px 3px 4px;
	padding: 3px 3px 0px 3px;
}




.eXtremeTable .tableRegion {

border:#C6D5F5 1px  solid;
BORDER-RIGHT: #C6D5F5 2px solid;
BORDER-left: #C6D5F5 2px solid;

padding:0px;
margin:0px;
border-collapse: collapse;
 width:100%; 
table-layout:fixed;


}

.eXtremeTable .tableRegion td {
	color:#000000;
	border:1px #cccccc solid;
	padding:2px;
	white-space:nowrap;word-break:keep-all;word-wrap:normal;
	overflow:hidden;
	height: 18px;
  line-height: 18px;
}


.eXtremeTable .tableHeader , .eXtremeTable .tableRegion .tableHeader td {

background-color:#D2E1FD;
color:#D2E1FD;
text-align:left;
margin-top:3px;

overflow:hidden;
height: 18px;
line-height: 18px;

}




.eXtremeTable .tableHeaderSort {
background-color:#D2E1FD;
overflow:hidden;
color:#D2E1FD;
text-align:left;
vertical-align:middle;
height:18px;               
line-height:18px;
}





.eXtremeTable  .resizeTitle {
	float:left;
	width:90%;
	text-align:left;
	vertical-align:middle;
	padding-top:0;
	padding-button:0;	
	height: 18px;
    line-height: 18px;	
}

.eXtremeTable  .resizeBar {
	padding: 0px;
	margin: 0px; 
	float:right;
	cursor:e-resize;
	width:3px;
	font-size:1px;
   vertical-align:middle;
	background-color:#D2E1FD;
	display:inline;
	height: 18px;
  line-height: 18px;
}





.eXtremeTable .sortASC {
	background-image:url(../images/table/sortAsc.gif);
	background-color:transparent;
	background-repeat: no-repeat;
	background-position: center;
	height:5px;
	width:5px;
	padding:0px 0px 0px 0px;
	display:inline;

}

.eXtremeTable .sortDESC {
	background-image:url(../images/table/sortDesc.gif);
	background-color:transparent;
	background-repeat: no-repeat;
	background-position: center;
	height:5px;
	width:5px;
	padding:0px 0px 0px 0px;
	display:inline;

}

.eXtremeTable .tableRegion .editableColumn {
  color:#883A3A;
}


.eXtremeTable .shadowRow a, .even a {
	color: bule;
}

.eXtremeTable .shadowRow td{
	background-color: #ecf3ee;
	/* border:2px solid #ffffff; */
}

.eXtremeTable .odd a, .even a {
	color: bule;
}

.eXtremeTable .odd td{
	background-color: #FFFFFF;
	height:20px;
	BORDER-TOP: #C6D5F5 1px solid; 
	 BORDER-LEFT: #C6D5F5 1px solid;
	 border-bottom:#C6D5F5 1px solid;
	 border-right:#C6D5F5 1px solid;
}



.eXtremeTable .even td{
  background-color: #F7F9FE;
  	height:20px;
  	BORDER-TOP: #C6D5F5 1px solid; 
	 BORDER-LEFT: #C6D5F5 1px solid;
	 border-bottom:#C6D5F5 1px solid;
	 border-right:#C6D5F5 1px solid;
  	


}

.eXtremeTable .highlight td {
	background-color: #FFFFFF;

	
}



.eXtremeTable .selectlight td {
	background-color: #E0ECFF;
}


}


.eXtremeTable .odd DIV.ellipsis , .eXtremeTable .even DIV.ellipsis , .eXtremeTable .highlight DIV.ellipsis , .eXtremeTable .selectlight DIV.ellipsis  {
	text-align:left;
	overflow: hidden; 
	white-space: nowrap; 
	text-overflow: ellipsis; 
	color:#F7F9FE;
	width: 100%; 
}

.eXtremeTable .odd .editedCell , .eXtremeTable .even .editedCell ,.eXtremeTable .highlight .editedCell ,.eXtremeTable .selectlight .editedCell  {
	background-color:#F7F9FE;
}

.eXtremeTable .calcRow td{
  	background-color: #f6f6f6;
}
.eXtremeTable .calcRow .calcResult {
  	background-color: #f6f6f6;
}
.eXtremeTable .calcRow .calcTitle {
  	background-color: #eeeeee;
  	text-align:center;
	letter-spacing: 1px;
	font-weight : bolder;
}


.eXtremeTable .filter {
	background-color: #ffffff;
}
.eXtremeTable .filter td {
	background-color: #ffffff;
}
.eXtremeTable .filter input {
	width: 100%;
	height:19px;
}

.eXtremeTable .filter select {
	font-family: Verdana;
	
	border: solid 1px #EEE;
	width: 100%;
}







.eXtremeTable .filterButtons {
	background-color: #efefef;
	text-align: right;
}

.eXtremeTable .titleRow {
	color: #444444;
	font-weight: bold;
	font-size: 12px;
	vertical-align: middle;

}

.eXtremeTable div.title {
	color: #333333;
	font-weight: bold;
	font-size: 14px;
	vertical-align: middle;
		text-align:center;
	

}



.eXtremeTable .titleRow span {
	width:100%;
	text-align:center;
}


.eXtremeTable .formButton {
background-color:transparent;
background-image:url(../images/button1.gif);
background-repeat: repeat-x;
border: outset 1px  #bbbbbb;
border-collapse:  separate;
vertical-align: bottom;
color:#333333;
cursor:pointer;
height:22px;
width:80px;
margin:3px 4px 3px 4px;
padding: 3px 3px 0px 3px;
}





.eXtremeTable .exportButton {
	background-color:transparent;
	background-repeat: no-repeat;
	background-position: center;
	border: 0px  #dddddd none;
	width:20px;
	height:18px;
	cursor:pointer;
	display:inline;
}


.eXtremeTable .exportXls {

background-image:url(../images/table/xls.gif);


}

.eXtremeTable .exportPdf {

background-image:url(../images/table/pdf.gif);

}

.eXtremeTable .exportCsv {

background-image:url(../images/table/csv.gif);

}




.eXtremeTable .pageNav {
	background-color:transparent;
	background-repeat: no-repeat;
	background-position: center;
	border: 0px  #dddddd none;
	width:24px;
	height:25px;
	cursor:pointer;
	vertical-align: -2px;
}

.eXtremeTable .jumpPage {
background-image:url(../images/table/gotoPage.gif);

}
.eXtremeTable .firstPage {
background-image:url(../images/table/ssbPrevPageL.gif);
}

.eXtremeTable .prevPage {
background-image:url(../images/table/ssbPrevPageR.gif);
}

.eXtremeTable .nextPage {
background-image:url(../images/table/nextssbPageL.gif);
}

.eXtremeTable .lastPage {
background-image:url(../images/table/nextssbPageR.gif);
}




.eXtremeTable .firstPageD {
background-image:url(../images/table/ssbPrevPageLDisable.gif);
}

.eXtremeTable .prevPageD {
background-image:url(../images/table/ssbPrevPageRDisable.gif);
}

.eXtremeTable .nextPageD {
background-image:url(../images/table/nextssbPageLDisable.gif);
}

.eXtremeTable .lastPageD {
background-image:url(../images/table/nextssbPageRDisable.gif);
}




.eXtremeTable .toolbar select {
	FONT-SIZE: 12px; 
	COLOR: #000000;
	FONT-FAMILY: "Arial","Verdana","Helvetica","sans-serif";
   BORDER-RIGHT: #9d9d9d 1px solid; 
   BORDER-TOP: #9d9d9d 1px solid; 
   Z-INDEX: 1; 
   BACKGROUND: #efefef; 
   OVERFLOW: auto; 
   BORDER-LEFT: #9d9d9d 1px solid; 
   LINE-HEIGHT: 140%; 
   BORDER-BOTTOM: #9d9d9d 1px solid; 
   HEIGHT: 10px;
   width:auto;	
}



.eXtremeTable .toolbar .toolbarTable{
   BACKGROUND: #f5f5f5 no-repeat 50% bottom; 
   FLOAT: right; 
   COLOR: #5e5e5e; 
   WIDTH: 100%; 

   VERTICAL-ALIGN: middle; 
   TEXT-ALIGN: right;    
   
   BORDER-left: #C6D5F5 2px solid;
   BORDER-right: #C6D5F5 2px solid;
   BORDER-bottom: #C6D5F5 1px solid;
   
   table-layout:auto;
  
   }
.eXtremeTable .toolbar .toolbarTable td {
	BORDER-TOP: white 1px solid; BACKGROUND: #E8E8E8; BORDER-LEFT: white 1px solid ; BORDER-right: white 1px solid

}

.eXtremeTable .toolbar .toolbarTable .statusTool {
   VERTICAL-ALIGN: bottom;
   white-space:nowrap;word-break:keep-all;word-wrap:normal;
   width:5%;
   border:0px; 
   padding-bottom:2px;    
}

.eXtremeTable .pageNavigationTool {
VERTICAL-ALIGN: middle;
width:100px;
white-space:nowrap;word-break:keep-all;word-wrap:normal;
}

/* if nearPageNum=0 then width:100px; */
.eXtremeTable .pageNavigationNearPageTool {
VERTICAL-ALIGN: middle;
width:5%;
white-space:nowrap;word-break:keep-all;word-wrap:normal;
}
/* if nearPageNum=0 then width:100px; */
.eXtremeTable .toolbar .toolbarTable .pageNavigationNearPageTool {
VERTICAL-ALIGN: bottom;
width:5%;
white-space:nowrap;word-break:keep-all;word-wrap:normal;
border:0px; 
}
.eXtremeTable .pageNavigationNearPageTool A {
	width:12px;
}

.eXtremeTable .pageJumpTool {
   VERTICAL-ALIGN: middle;
   white-space:nowrap;word-break:keep-all;word-wrap:normal;
   width:85%;
   border-color:#5e5e5e;
}
.eXtremeTable .toolbar .toolbarTable .pageJumpTool {
   VERTICAL-ALIGN: bottom;
   white-space:nowrap;word-break:keep-all;word-wrap:normal;
   width:85%;
   border:0px; 
   padding-bottom:2px; 
}
.eXtremeTable .jumpPageInput {
	height:19px;
	width:25px;
	margin-top:0px;
	/* border:1px solid #aaaaaa; */
}

.eXtremeTable .pageSizeTool {
   VERTICAL-ALIGN: middle;
   white-space:nowrap;word-break:keep-all;word-wrap:normal;
   width:5%;
   border-color:#5f5f5f;
}
.eXtremeTable .toolbar .toolbarTable .pageSizeTool {
   VERTICAL-ALIGN: bottom;
   white-space:nowrap;word-break:keep-all;word-wrap:normal;
   width:5%;
  border:0px;
  padding-bottom:2px;  
}
.eXtremeTable  .separatorTool { 
   width:5px; 
   border-color:#5e5e5e;  
}
.eXtremeTable .toolbar .toolbarTable .separatorTool { 
   width:5px; 
   border:0px; 
   padding-bottom:2px; 
}
.eXtremeTable  .extendTool {
text-align:center;
width:100px;
white-space:nowrap;word-break:keep-all;word-wrap:normal;
}

.eXtremeTable  .extendTool A {
display:inline;
white-space:nowrap;word-break:keep-all;word-wrap:normal;
}

.eXtremeTable  .exportTool {
text-align:center;
width:95px;
white-space:nowrap;word-break:keep-all;word-wrap:normal;
}



.eXtremeTable .exportXls {

background-image:url(../images/table/xls.gif);


}

.eXtremeTable .exportPdf {

background-image:url(../images/table/pdf.gif);

}

.eXtremeTable .exportCsv {

background-image:url(../images/table/csv.gif);

}

.eXtremeTable .exportPrint {

background-image:url(../images/table/print.gif);

}

.eXtremeTable  .blankTool {
	width:10%;	
}





.eXtremeTable  .hideListRow {
	height:0px;
	font-size:0px;
	padding-top:0px;
	padding-bottom:0px;
	margin-top:0px;
	margin-bottom:0px;
	border-top:0px;
	border-bottom:0px;
}

.eXtremeTable  .hideListRow td {
	font-size:0px;
	height:0px;
	padding-top:0px;
	padding-bottom:0px;
	margin-top:0px;
	margin-bottom:0px;
	border-top:0px;
	border-bottom:0px;
}


.eXtremeTable  .headerScrollX {
overflow:hidden;
padding:0px;
margin:0px;
border:0px red solid;

}

.eXtremeTable  .bodyScrollY {
overflow-x:hidden;
overflow-y:auto;
padding:0px;
padding-right:0px;
margin:0px;
border:0px red solid;
}

.eXtremeTable  .bodyScrollX {
overflow-x:auto;
overflow-y:hidden;
padding:0px;
margin:0px;
border:0px red solid;
}

.eXtremeTable  .bodyScrollX span {

}



@media print {

img { visibilty:hidden }
textarea  {display:none}
input  {display:none}
select  {display:none} 
.noprint {display:none} 
.toolbar {display:none}
	
/*	
.eXtremeTable .tableRegion td {
	color:#000000;
		border:0px #cccccc none;
		padding:3px;
		height:25px;
		white-space:normal;word-break:normal;word-wrap:normal;
		border-bottom:1px #cccccc solid;
		overflow:visible;
	} */
/*	
.eXtremeTable .tableRegion .tableHeader {

	border:1px #aaaaaa solid;
	background-color:#aaaaaa;

	padding:2px;
	white-space:nowrap;word-break:keep-all;word-wrap:normal;
	color:#000000;
	font-weight:bolder;
	height:24px;
	text-align:center;
	overflow:hidden;
}
*/
.eXtremeTable .odd DIV.ellipsis , .eXtremeTable .even DIV.ellipsis , .eXtremeTable .highlight DIV.ellipsis , .eXtremeTable .selectlight DIV.ellipsis  {
	text-align:left;
	overflow: visible; 
	white-space:normal;word-break:normal;word-wrap:normal;
	color:#F7F9FE;
	width: 100%; 
}


.eXtremeTable .tableRegion .odd {
}
.eXtremeTable .tableRegion .even {
	BACKGROUND-COLOR: #F7F9FE
}

