span.fileinputs {
	position:relative;
	overflow:hidden;
}

div.fileinputs {
	position:relative;
	overflow:hidden;
	display:block;
	float:left;
	width:220px;
}

div.fakefile {
	position:absolute;
	top:0px;
	left:0px;
	z-index:1;
	display: inline;
	width:100%;
}

input.singleText{
	width: 135px;
	height:18px;
	vertical-align: middle;
}

input.singleButton{
	width: 65px;
	z-index:-10;
	background:#fff url(../purview/skins/default/images/button_bg.gif) repeat-x center;
	border:1px solid #7898b8;
	height:22px;
	color:#000;
	cursor:pointer;
	overflow:visible;
	width:auto;
	padding:0 10px;
	vertical-align:middle;
	margin-left:5px;
}

input.single_input {
	position: relative;
	width:205px;
	height:22px;
	text-align: right;
	-moz-opacity:0;
	filter:alpha(opacity=0);
	opacity:0;
	z-index:2;
}

input.multi_input{
	position:relative;
	left:-125px;
	width:92px;
	opacity:0;					/*for Firefox*/
	filter:alpha(opacity=0);	/*for IE*/	
}

.font_notice{
	position:relative;
	margin-top:5px;
	left:0px;
	color:#CC3333;
	display: inline;
}
.addfile_notice{
	font-size:12px;
}
table.filelist{
	padding:0;
	margin-top:4px;
	font-size:12px;
	width:100%;
	border:1px solid #ccc; 
	border-right:1px solid #999; 
	border-bottom:1px solid #999;
	cellSpacing:0;
	cellPadding:0;
}

table.filelist thead tr.filelist_title{
	background:#ebebeb;
	color:#000; 
}
table.filelist thead tr.filelist_title th{
	font-weight:400;
	text-align:left;
	padding:6px;
}
thead tr.filelist_title th.operate{
	width:30%;
}
table.filelist tbody{
	color:rgb(64,64,64);
	font-family:Tahoma,Verdana,Arial;
}
table.filelist tbody tr td{
	color:rgb(64,64,64);
	font-family:Tahoma,Verdana,Arial;
	padding:6px;
}
tr.nofile_notice{
	height:36px;
}
div.file_icon{
	height:16px;
	width:16px;
	background-color:white;
	background-repeat:no-repeat;
	float:left;
}
div.uploadingbar{
	width:160px;
	height:16px;
	float:left;
	background-image:url(../images/upload/uploading.gif);
	background-color:white;
	background-repeat:no-repeat;
}
.icon_archive{
	background-image:url(../images/upload/archive.gif);
}
.icon_conf{
	background-image:url(../images/upload/conf.gif);
}
.icon_csv{
	background-image:url(../images/upload/csv.gif);
}
.icon_ie{
	background-image:url(../images/upload/ie.gif);
}
.icon_image{
	background-image:url(../images/upload/image.gif);
}
.icon_media{
	background-image:url(../images/upload/media.gif);
}
.icon_msaccess{
	background-image:url(../images/upload/msaccess.gif);
}
.icon_msexcel{
	background-image:url(../images/upload/msexcel.gif);
}
.icon_mspowerpoint{
	background-image:url(../images/upload/mspowerpoint.gif);
}
.icon_msword{
	background-image:url(../images/upload/msword.gif);
}
.icon_pdf{
	background-image:url(../images/upload/pdf.gif);
}
.icon_system{
	background-image:url(../images/upload/system.gif);
}
.icon_text{
	background-image:url(../images/upload/text.gif);
}
.icon_unknown{
	background-image:url(../images/upload/unknown.gif);
}
.icon_xml{
	background-image:url(../images/upload/xml.gif);
}
.icon_del{
	cursor:pointer;
	background-image:url(../images/upload/del.gif);
}
td a.option_del:link{
	color:blue;
	text-decoration:none;
}
td a.option_del:hover{
	color:blue;
	text-decoration:none;
}
