<%@page language="java" contentType="text/html;charset=gb2312" errorPage="errorHandler.jsp"%>
<HTML>
<HEAD>
<TITLE></TITLE>
<meta http-equiv="Content-Type" content="text/html">
<link REL="STYLESHEET" HREF="inc/style.css" TYPE="text/css">
<!-- Head javascripts -->
<!-- Head javascripts end -->
</HEAD>
<BODY oncontextmenu="return false" topmargin="0" leftmargin="0" style="background-color: rgb(249,250,244)" bgcolor="#FFFFFF">
<table border="0" cellPadding="5" cellSpacing="1" width="100%">
  <!-- Messages -->
  <tr height="5%" >
    <td align="right" bgcolor="50AEDF" height="45" > 
      <div align="center"><span
    style="color: #000000); font-size: 8pt"> <font face="Arial, Helvetica, sans-serif"> 
        </font></span><font color="#000000" face="Arial, Helvetica, sans-serif"><span
    style="color: #000000); font-size: 8pt">ZTE CORPORATION 2004</span></font><font face="Arial, Helvetica, sans-serif"><span
    style="color: #000000); font-size: 8pt"> </span><font color="#000000"></font></font></div>    
    </td>
  </tr>
  <!-- Messages end -->
</table>
</BODY>
</HTML>
