  <div class="editBlock">
    <table>
      <tr>
        <td colspan="4" class="subtitle" resid=""></td>
      </tr>
      <tbody>
<!--        <tr id="emb1">-->
<!--          <th resid="technology.audit.task.sourcetype" width="10%"></th>-->
<!--          <td id="td1" width="15%"><label id="sourcetype"></label></td>                   -->
<!--          <th resid="technology.audit.task.sourceindex" width="10%"></th>-->
<!--          <td width="15%"><label id="sourceindex"></label></td>-->
<!--        </tr>    -->
            
        <tr>
          <th resid="technology.audit.task.contentindex"></th>
          <td ><label id="srcfileindex"></label></td>  
          <th resid="technology.audit.task.srcfilename"></th>
          <td ><label id="srcfilename"></label></td>                 
        </tr>

         <tr>
          <th resid="technology.audit.task.priority"></th>
          <td ><label id="priority"></label></td>  
          <th resid="technology.audit.task.status"></th>
          <td ><label id="status"></label></td>      
        </tr>
        
         <tr>
          <th resid="technology.audit.task.starttime"></th>
          <td ><label id="starttime"></label></td>  
          <th resid="technology.audit.task.endtime"></th>
          <td ><label id="endtime"></label></td>      
        </tr>
        
       <tr id="emb4">
          <th resid="technology.audit.task.srcfilegrouptype"></th>
          <td ><label id="srcfilegrouptype"></label></td>  
          <th resid="technology.audit.task.templetename"></th>
          <td ><label id="templetename"></label></td> 
        </tr>
        
        
        <tr >
          <th resid="technology.audit.task.srcfilepath"></th>
          <td ><label id="srcfilepath"></label></td>  
          <th resid="technology.audit.task.destfilepath"></th>
          <td ><label id="destfilepath"></label></td> 
        </tr>
         
<!--        -->
<!--         <tr>-->
<!--          <th resid="technology.audit.task.srcfilestoragetype"></th>-->
<!--          <td ><label id="srcfilestoragetype"></label></td>  -->
<!--          <th resid="technology.audit.task.srcfilepath"></th>-->
<!--          <td ><label id="srcfilepath"></label></td> -->
<!--        </tr> -->
        
         <tr id="emb2">
          <th resid="technology.audit.task.destfilegrouptype"></th>
          <td ><label id="destfilegrouptype"></label></td>  
          <th resid="technology.audit.task.destfilephyfilename"></th>
          <td ><label id="destfilephyfilename"></label></td> 
        </tr> 
        
<!--         <tr id="emb3">-->
<!--          <th resid="technology.audit.task.destfilestoragetype"></th>-->
<!--          <td ><label id="destfilestoragetype"></label></td>  -->
<!--          <th resid="technology.audit.task.destfilepath"></th>-->
<!--          <td ><label id="destfilepath"></label></td> -->
<!--        </tr>-->
                     
         <tr>
         
          <th resid="technology.audit.task.srcfilephyfilename"></th>
          <td ><label id="srcfilephyfilename"></label></td> 
         </tr> 
             
    </tbody>
   </table>
  </div>