BODY{

SCROLLBAR-FACE-COLOR: DADADA; SCROLLBAR-HIGHLIGHT-COLOR: #DADADA; SCROLLBAR-SHADOW-COLOR: #ffffff; SCROLLBAR-3DLIGHT-COLOR: #ffffff; SCROLLBAR-ARROW-COLOR:  #ffffff; SCROLLBAR-TRACK-COLOR: #ffffff; SCROLLBAR-DARKSHADOW-COLOR: #DADADA;
LINE-HEIGHT:17px; FONT-SIZE: 12px;
LETTER-SPACING: 0px;
	margin-left: 0px;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
}
a:active {
	color: #ffffff;
	text-decoration: none;
}

a:link {
	color: #0000ff;
	text-decoration: none;
}

a:visited {
	color: #000066;
	text-decoration: none;
}

.body-style1 {
    font-family: 宋体;
    font-size: 9pt;
    margin-left: 0;
    margin-top: 0;
}

.body-style2 {
    font-family: 宋体;
    font-size: 9pt;
}

.table-style1 {
    font-family: 宋体;
    font-size: 9pt;
    empty-cells: show;
    margin-top: 0;
    margin-left: 0;
}

.table-style2 {
    font-family: 宋体;
    font-size: 9pt;
    empty-cells: show;
    margin-top: 0;
    margin-left: 0;
	}
.table-style3 {
    font-family: 宋体;
    font-size: 9pt;
    empty-cells: show;
    margin-top: 0;
    margin-left: 0;

background-color:#E1F5FD;
}
.table-style4 {
    font-family: 宋体;
    font-size: 9pt;
    empty-cells: show;
    margin-top: 0;
    margin-left: 0;
	background-color:#2ABE51;
}
.table-style5 {
    font-family: 宋体;
    font-size: 9pt;
    empty-cells: show;
    margin-top: 0;
    margin-left: 0;
    background-color:#C4E5FE;
}
.bottom{

	BACKGROUND-IMAGE:url(image/home_r15_c1.gif);
	background-image:#DFF1FF;
}
.table-styleshow {
    font-family: 宋体;
    font-size: 9pt;
    font-weight: bold;
    color: #800000;
    empty-cells: show;
    margin-top: 0;
    margin-left: 0;
}
.tr-ring{
	background-color:#C4E5FE;
}
.tr-ringlist{
	background-color:#C4E5FE;
}
.font-ring{
	color:#008000;
}

.table-title1 {

    font-size: 9pt;
    background-color:#C4E5FE;
    text-align: center;
	td height:24px;
}

.table-outer-style1 {
    font-family: 宋体;
    font-size: 9pt;
    background-color: #F9FAF4;
    border-color: #FFFFFF;
    border-style: solid;
    border-width: 1;
}

.table-outer-style2 {
    font-family: 宋体;
    font-size: 9pt;
    background-color: #C0C0C0;
    border-style: solid;
    border-width: 1;
}

.button-style1 {
    font-family: 宋体;
    font-size: 9pt;
    width: 80;
}

.button-style2 {
    font-family: 宋体;
    font-size: 9pt;
    text-align: center;
    width: 150;
}

.button-style3 {
    font-family: 宋体;
    font-size: 9pt;
    text-align: center;
    width: 20;
}

.button-style4 {
    font-family: 宋体;
    font-size: 9pt;
    text-align: center;
    width: 80;
}

.input-style1 {
    border-right: 1px inset;
    border-top: 1px inset;
    vertical-align: text-bottom;
    border-left: 1px inset;
    border-bottom: 1px inset;
    font-family: 宋体;
    font-size: 9pt;
    width: 150;
}
.input-style0 {
    border-right: 1px inset;
    border-top: 1px inset;
    vertical-align: text-bottom;
    border-left: 1px inset;
    border-bottom: 1px inset;
    font-family: 宋体;
    font-size: 9pt;
    width: 130;
}

.input-style2 {
    border-right: 1px inset;
    border-top: 1px inset;
    vertical-align: text-bottom;
    border-left: 1px inset;
    border-bottom: 1px inset;
    font-family: 宋体;
    font-size: 9pt;
    width: 80;
}
.input-style4 {
    border-right: 1px inset;
    border-top: 1px inset;
    vertical-align: text-bottom;
    border-left: 1px inset;
    border-bottom: 1px inset;
    font-family: 宋体;
    font-size: 9pt;
    width: 60;
}
.input-style5 {
    border-right: 1px inset;
    border-top: 1px inset;
    vertical-align: text-bottom;
    border-left: 1px inset;
    border-bottom: 1px inset;
    font-family: 宋体;
    font-size: 9pt;
    width: 40;
}
.input-style6 {
    border-right: 1px inset;
    border-top: 1px inset;
    vertical-align: text-bottom;
    border-left: 1px inset;
    border-bottom: 1px inset;
    font-family: 宋体;
    font-size: 9pt;
    width: 34;
}

.input-style3 {
    border-right: 1px inset;
    border-top: 1px inset;
    vertical-align: text-bottom;
    border-left: 1px inset;
    border-bottom: 1px inset;
    font-family: 宋体;
    font-size: 9pt;
    width: 300;
}

.select-style1 {
	background: #FFFFFF;
	color: #000000;
    border-right: 1px inset;
    border-top: 1px inset;
    vertical-align: text-bottom;
    border-left: 1px inset;
    border-bottom: 1px inset;
    font-family: "宋体";
    font-size: 9pt;
    width: 150;
}
.select-style0 {
	background: #FFFFFF;
	color: #000000;
    border-right: 1px inset;
    border-top: 1px inset;
    vertical-align: text-bottom;
    border-left: 1px inset;
    border-bottom: 1px inset;
    font-family: "宋体";
    font-size: 9pt;
    width: 130;
}

.select-style2 {
	background: #BAE3FF;
	color: #000000;
    border-right: 1px inset;
    border-top: 1px inset;
    vertical-align: text-bottom;
    border-left: 1px inset;
    border-bottom: 1px inset;
    font-family: 宋体;
    font-size: 9pt;
    width: 80;
}

.select-style3 {
	background: #BAE3FF;
	color: #000000;
    border-right: 1px inset;
    border-top: 1px inset;
    vertical-align: text-bottom;
    border-left: 1px inset;
    border-bottom: 1px inset;
    font-family: 宋体;
    font-size: 9pt;
    width: 270;
}

.select-style4 {
	background: #BAE3FF;
	color: #000000;
    border-right: 1px inset;
    border-top: 1px inset;
    vertical-align: text-bottom;
    border-left: 1px inset;
    border-bottom: 1px inset;
    font-family: 宋体;
    font-size: 9pt;
    width: 200;
}

.select-style5 {
	background: #BAE3FF;
	color: #000000;
    border-right: 1px inset;
    border-top: 1px inset;
    vertical-align: text-bottom;
    border-left: 1px inset;
    border-bottom: 1px inset;
    font-family: 宋体;
    font-size: 9pt;
    width: 100;
}

.select-style6 {
	background: #FFFFFF;
	color: #000000;
    border-right: 1px inset;
    border-top: 1px inset;
    vertical-align: text-bottom;
    border-left: 1px inset;
    border-bottom: 1px inset;
    font-family: "宋体";
    font-size: 9pt;
    width: 60;
}


.text-default {
    font-family: 宋体;
    font-size: 9pt;
    color: #000000;
}

.text-error {
    font-family: 宋体;
    font-size: 9pt;
    color: #FF0000;
}

.text-title {
    font-family: 楷体_GB2312;
    font-size: 16pt;
    font-weight: bold;
    color: #336600;
}

.hidden-input {
    font-family: 宋体;
    font-size: 9pt;
    color: #000000;
    background-color: #DDDDFF;
    border: none;
    margin-left: 0;
    margin-top: 0;
    text-align: center;
    width: 50;
}
.font{
	color:#008000;
}
.font-man{
	color:#008000;
}
.font2{
	color:#000000;
}
.font3{
	color:#000000;
}

.style3 {color: #CC8600}
.style4 {color: #FFFFFF}
.chn {
	FONT-SIZE: 12px; COLOR: #3d586d; FONT-FAMILY: "宋体"; TEXT-DECORATION: none
}
.input-01 {
	FONT-SIZE: 12px; WIDTH: 90px; COLOR: #3d586d; FONT-FAMILY: "Arial", "Helvetica", "sans-serif"
}
.tablebg {
	FONT-SIZE: 12px; FONT-FAMILY: "宋体"; BACKGROUND-COLOR: #16496f
}
.titlebg {
	FONT-SIZE: 12px; COLOR: #ffffff; FONT-FAMILY: "宋体"; BACKGROUND-COLOR: #316c99; TEXT-DECORATION: none
}
.td01 {
	FONT-SIZE: 12px; COLOR: #16496f; FONT-FAMILY: "Arial", "Helvetica", "sans-serif"; BACKGROUND-COLOR: #e2f3ff
}
.td02 {
	FONT-SIZE: 12px; COLOR: #16496f; FONT-FAMILY: "Arial", "Helvetica", "sans-serif"; BACKGROUND-COLOR: #f7fcff
}

.td03 {
	 BACKGROUND-COLOR: #e7fce8
}

.chn02 {
	FONT-SIZE: 12px; COLOR: #3d586d; LINE-HEIGHT: 25px; FONT-FAMILY: "宋体"
}
.chn03 {
	COLOR: #ffffff; TEXT-DECORATION: none
}
.hrr {
	HEIGHT: 4px
}
.menubutton {
	FONT-SIZE: 12px; CURSOR: hand; COLOR: #3d586d; FONT-FAMILY: "宋体"; TEXT-DECORATION: none
}
.inp {
	PADDING-RIGHT: 1px; PADDING-LEFT: 1px; FONT-SIZE: 12px; PADDING-BOTTOM: 1px; MARGIN: 1px; WIDTH: 72px; COLOR: #000000; PADDING-TOP: 1px; FONT-FAMILY: "Arial", "Helvetica", "sans-serif"; HEIGHT: 16px
}
.inp01 {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; FONT-SIZE: 10px; PADDING-BOTTOM: 0px; MARGIN: 0px; WIDTH: 60px; COLOR: #000000; PADDING-TOP: 0px; FONT-FAMILY: "Arial", "Helvetica", "sans-serif"; HEIGHT: 16px
}
.inp02 {
	PADDING-RIGHT: 1px; PADDING-LEFT: 1px; FONT-SIZE: 11px; PADDING-BOTTOM: 1px; MARGIN: 1px; WIDTH: 80px; PADDING-TOP: 1px; FONT-FAMILY: "Arial", "Helvetica", "sans-serif"; HEIGHT: 18px
}
.inp03 {
	PADDING-RIGHT: 1px; PADDING-LEFT: 1px; FONT-SIZE: 12px; PADDING-BOTTOM: 1px; MARGIN: 1px; WIDTH: 80px; COLOR: #000000; PADDING-TOP: 1px; FONT-FAMILY: "Arial", "Helvetica", "sans-serif"; HEIGHT: 16px; TEXT-DECORATION: none
}
.inp04 {
	PADDING-RIGHT: 1px; PADDING-LEFT: 1px; FONT-SIZE: 12px; PADDING-BOTTOM: 1px; MARGIN: 1px; WIDTH: 200px; COLOR: #000000; PADDING-TOP: 1px; FONT-FAMILY: "Arial", "Helvetica", "sans-serif"; HEIGHT: 80px; TEXT-DECORATION: none
}
.inp05 {
	PADDING-RIGHT: 1px; PADDING-LEFT: 1px; FONT-SIZE: 12px; PADDING-BOTTOM: 1px; MARGIN: 1px; WIDTH: 45px; COLOR: #000000; PADDING-TOP: 1px; FONT-FAMILY: "Arial", "Helvetica", "sans-serif"; HEIGHT: 16px; TEXT-DECORATION: none
}
.inp06 {
	PADDING-RIGHT: 1px; PADDING-LEFT: 1px; FONT-SIZE: 12px; PADDING-BOTTOM: 1px; MARGIN: 1px; WIDTH: 200px; COLOR: #000000; PADDING-TOP: 1px; FONT-FAMILY: "Arial", "Helvetica", "sans-serif"; HEIGHT: 18px; TEXT-DECORATION: none
}
.inp07 {
	PADDING-RIGHT: 1px; PADDING-LEFT: 1px; FONT-SIZE: 12px; PADDING-BOTTOM: 1px; MARGIN: 1px; WIDTH: 40px; COLOR: #000000; PADDING-TOP: 1px; FONT-FAMILY: "Arial", "Helvetica", "sans-serif"; HEIGHT: 22px; TEXT-DECORATION: none
}
.inp08 {
	PADDING-RIGHT: 1px; PADDING-LEFT: 1px; FONT-SIZE: 12px; PADDING-BOTTOM: 1px; MARGIN: 1px; WIDTH: 200px; COLOR: #000000; PADDING-TOP: 1px; FONT-FAMILY: "Arial", "Helvetica", "sans-serif"; HEIGHT: 20px; TEXT-DECORATION: none
}
.inp09 {
	FONT-SIZE: 12px; WIDTH: 20px; HEIGHT: 22px
}
TABLE TD {

}
TD.menutd01 A {
	FONT-SIZE: 12px; COLOR: #16496f; FONT-FAMILY: "Arial", "Helvetica", "sans-serif"; BACKGROUND-COLOR: #e2f3ff; TEXT-DECORATION: none
}
TD.menutd01 A:hover {
	FONT-SIZE: 12px; COLOR: #7f0000; FONT-FAMILY: "Arial", "Helvetica", "sans-serif"; TEXT-DECORATION: none
}
TD.menutd01 A:active {
	FONT-SIZE: 12px; COLOR: #7f0000; FONT-FAMILY: "Arial", "Helvetica", "sans-serif"; TEXT-DECORATION: none
}
