﻿

.FRAME
{
    width:100%; height:100%;
}

.load
{
    position: absolute;
    background: url(pressbar.gif) no-repeat; background-position:left top; width:199px; height:64px; 
    border-left:1px solid #6795B4; 
	border-top:1px solid #6795B4;
	border-bottom:1px solid #6795B4; 
	border-right:1px solid #6795B4;
	background-color:#cee9f4;
	left: expression((document.body.offsetWidth - 199)/2);
	top: expression((document.body.offsetHeight - 64)/2);
}





