<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<z:binds>
	<z:bind ctrl="txtProcessId" ref="task.processId" />
	<z:bind ctrl="txtRoutType" ref="task.routType" />
	<z:bind ctrl="txtRoutEvent" ref="task.routEvent" />
	<z:bind ctrl="txtTaskId" ref="task.taskId" />
	<z:bind ctrl="txtHandleMessage" ref="handleMessage" datatype="nonempty" />
</z:binds>
<z:service id='getTask' method='get' url='umapWkfw/getTaskInfo.ssm'
	isSyn="true">
	<z:response postResponse="dealTaskInfo()" />
</z:service>
<z:service id='getHistory' method='get' url='umapWkfw/getHistory.ssm'
	isSyn='true'>
	<z:response
		postResponse="noDataDisplay($M.tblHistoryList,'tblHistory')" />
</z:service>
<input type="hidden" id="txtTaskId" />
<input type="hidden" id="txtRoutEvent" />
<input type="hidden" id="txtProcessId" />
<input type="hidden" id="txtRoutType" />
<div class="dataGrid" id="tblHistory">
<table>
	<caption resid="msg.umap.common.his.views"></caption>
	<tr>
		<td><z:table turnpage="false" editable="true" width="100%"
			id="tblHistoryList">
			<z:column id="col0" resid="table.iptv.wkfw.commom.taskname" caption="" prop="taskName"></z:column>
			<z:column id="col1" resid="table.iptv.wkfw.commom.handleevent" caption="" prop="handleEvent"></z:column>
			<z:column id="col2" resid="table.iptv.wkfw.commom.audit.opinion" caption="" prop="handleMsg"></z:column>
			<z:column id="col3" resid="table.iptv.wkfw.commom.signed" caption="" prop="userName"></z:column>
			<z:column id="col4" resid="table.iptv.wkfw.commom.task.completion.time" caption="" prop="finishDate"
				datatype="date(yyyy-mm-dd hh:MM:ss)"></z:column>
		</z:table></td>
	</tr>
</table>
</div>
<div class="editBlock todo">
<table>
	<tr>
		<th colspan="2" class="subtitle" resid="label.iptv.cpsp.audit.opinion"></th>
	</tr>
	<tr id="trHandle">
		<th resid="label.iptv.cpsp.audit.result"></th>
		<td id="tdHandle"></td>
	</tr>
	<tr>
		<th width="150" resid="label.iptv.cpsp.audit.opinion"></th>
		<td><textarea rows="5" id="txtHandleMessage" style="width: 500px"></textarea><span class="warning">&nbsp;*&nbsp;</span><label
			class="validFont" id="txtHandleMessage_msg"></label></td>
	</tr>
</table>
</div>