<!--
a:active {
	color: #ffffff;
	text-decoration: none;
}

a:link {
	color: #018BD8;
	text-decoration: none;
}

a:visited {
	color: #000066;
	text-decoration: none;
}

.body-style1 {
    font-family: 宋体;
    font-size: 9pt;
    margin-left: 0;
    margin-top: 0;
}

.body-style2 {
    font-family: 宋体;
    font-size: 9pt;
}

.table-style1 {
    font-family: 宋体;
    font-size: 9pt;
    empty-cells: show;
    margin-top: 0;
    margin-left: 0;
}

.table-style2 {
    font-family: 宋体;
    font-size: 9pt;
    empty-cells: show;
    margin-top: 0;
    margin-left: 0;
}

.table-styleshow {
    font-family: 宋体;
    font-size: 9pt;
    font-weight: bold;
    color: #800000;
    empty-cells: show;
    margin-top: 0;
    margin-left: 0;
}

.table-title1 {
    font-family: 宋体;
    font-size: 9pt;
    background-color: #c0c0c0;
    text-align: center;
}

.table-outer-style1 {
    font-family: 宋体;
    font-size: 9pt;
    background-color: #F9FAF4;
    border-color: #FFFFFF;
    border-style: solid;
    border-width: 1;
}

.table-outer-style2 {
    font-family: 宋体;
    font-size: 9pt;
    background-color: #C0C0C0;
    border-style: solid;
    border-width: 1;
}

.button-style1 {
    font-family: 宋体;
    font-size: 9pt;
    width: 40;
}

.button-style2 {
    font-family: 宋体;
    font-size: 9pt;
    text-align: center;
    width: 150;
}

.button-style3 {
    font-family: 宋体;
    font-size: 9pt;
    text-align: center;
    width: 20;
}

.button-style4 {
    font-family: 宋体;
    font-size: 9pt;
    text-align: center;
    width: 80;
}

.input-style1 {
    font-family: 宋体;
    font-size: 9pt;
    width: 150;
}

.input-style2 {
    border-right: 1px inset;
    border-top: 1px inset;
    vertical-align: text-bottom;
    border-left: 1px inset;
    border-bottom: 1px inset;
    font-family: 宋体;
    font-size: 9pt;
    width: 80;
}

.input-style3 {
    border-right: 1px inset;
    border-top: 1px inset;
    vertical-align: text-bottom;
    border-left: 1px inset;
    border-bottom: 1px inset;
    font-family: 宋体;
    font-size: 9pt;
    width: 300;
}

.select-style1 {
	background: #cccc99;
	color: #000000;
    border-right: 1px inset;
    border-top: 1px inset;
    vertical-align: text-bottom;
    border-left: 1px inset;
    border-bottom: 1px inset;
    font-family: 宋体;
    font-size: 9pt;
    width: 150;
}

.select-style2 {
	background: #cccc99;
	color: #000000;
    border-right: 1px inset;
    border-top: 1px inset;
    vertical-align: text-bottom;
    border-left: 1px inset;
    border-bottom: 1px inset;
    font-family: 宋体;
    font-size: 9pt;
    width: 80;
}

.select-style3 {
	background: #cccc99;
	color: #000000;
    border-right: 1px inset;
    border-top: 1px inset;
    vertical-align: text-bottom;
    border-left: 1px inset;
    border-bottom: 1px inset;
    font-family: 宋体;
    font-size: 9pt;
    width: 300;
}

.text-default {
    font-family: 宋体;
    font-size: 9pt;
    color: #000000;
}

.text-error {
    font-family: 宋体;
    font-size: 9pt;
    color: #FF0000;
}

.text-title {
    font-family: 楷体_GB2312;
    font-size: 16pt;
    font-weight: bold;
    color: #FF00FF;
}

.hidden-input {
    font-family: 宋体;
    font-size: 9pt;
    color: #000000;
    background-color: #DDDDFF;
    border: none;
    margin-left: 0;
    margin-top: 0;
    text-align: center;
    width: 50;
}

-->
