@charset "utf-8";
@import url(../../js/DatePicker/skin/WdatePicker.css)
/* 日期选择控件 */
.Wdate{
	width:100px;
	border:1px solid #94b6c3;
	background:#ffffff url(../common/datePicker.gif) no-repeat right;
	height:20px;
	line-height:20px;
	color:#339900;
}
/* 日期选择控件 日期格式错误时的CSS */
.WdateFmtErr{
	font-weight:bold;
	color:red;
}
/* 日期选择容器 DIV */
.WdateDiv{
	width:180px;
	background-color:#fff;
	border:#64b7d7 1px solid;
	padding:2px;
}
.WdateDiv *{font-size:9pt;}
/****************************
 * 年份月份相关
 ***************************/
/* 年份月份栏 DIV */
.WdateDiv #dpTitle{
	height:24px;
	border:#c5d9e8 1px solid;
	color:#70A5AB;
	background:url(images/bg.jpg);
	margin-bottom:2px;
}
/* 年份月份输入框 INPUT */
.WdateDiv .yminput{
	padding-top:2px;
	text-align:center;
	border:0px;
	height:16px;
	color:#034c50;
	background:url(images/ymbg.jpg);
	cursor:pointer;
}
/* 年份月份输入框获得焦点时的样式 INPUT */
.WdateDiv .yminputfocus{
	text-align:center;
	font-weight:bold;
	color:#034c50;
	border:#64b7d7 1px solid;
	height:16px;
}
/* 年份月份选择框 DIV */
.WdateDiv .ymsel{
	position:absolute;
	margin-left:24px;
	top:23px;
	background-color:#FFFFFF;
	padding:2px;
	border:#A3C6C8 1px solid;
	display:none;
}
/* 年月选择框的样式 TD */
.WdateDiv .Wym{
	cursor:pointer;
	background-color:#fff;
	color:#11777C;
}
/* 年月选择框的mouseover样式 TD */
.WdateDiv .WymOn{
	cursor:pointer;
	background-color:#BEEBEE;
}
/* 年月选择框无效时的样式 TD */
.WdateDiv .Winvalidym{
	color:#aaa;
}
/****************************
 * 星期,日期相关
 ***************************/
/* 日期栏表格 TABLE */
.WdateDiv #dpDayTable{
	line-height:20px;	
	color:#13777e;
	background-color:#edfbfb;
	border:#BEE9F0 1px solid;
}
/* 星期栏 TR */
.WdateDiv #dpWeekTitle{
	color:#13777e;
	background-color:#bdebee;
}
/* 日期格的样式 TD */
.WdateDiv .Wday{
	cursor:pointer;
}
/* 日期格的mouseover样式 TD */
.WdateDiv .WdayOn{
	cursor:pointer;
	background-color:#74d2d9 ;
}
/* 周末日期格的样式 TD */
.WdateDiv .Wwday{
	cursor:pointer;
	color:#ab1e1e;
}
/* 周末日期格的mouseover样式 TD */
.WdateDiv .WwdayOn{
	cursor:pointer;
	background-color:#74d2d9;
}
/* 今天的样式 */
.WdateDiv .Wtoday{
	cursor:pointer;
	color:blue;
}
/* 已选择那天的样式,即日期框中日期所对应的样式 */
.WdateDiv .Wselday{
	color:red;
	background-color:#B3E6EA;
}
/* 无效日期的样式,即在日期范围以外日期格的样式,不能选择的日期 */
.WdateDiv .WinvalidDay{
	color:#aaa;
}
/****************************
 * 时间相关
 ***************************/
/* 时间栏 DIV */
.WdateDiv #dpTime{
	
}
/* 时间文字 SPAN */
.WdateDiv #dpTime #dpTimeStr{
	margin-left:1px;
	color:#497F7F;
}
/* 时间输入框 INPUT */
.WdateDiv #dpTime input{
	height:16px;
	width:18px;
	text-align:center;
	color:#333;
	border:#61CAD0 1px solid;	
}
/* 时间 时 INPUT */
.WdateDiv #dpTime .tB{
	border-right:0px;
}
/* 时间 分和间隔符 ':' INPUT */
.WdateDiv #dpTime .tE{
	border-left:0;
	border-right:0;
}
/* 时间 秒 INPUT */
.WdateDiv #dpTime .tm{
	width:7px;
	border-left:0;
	border-right:0;
}
/* 时间右边的向上按钮 BUTTON */
.WdateDiv #dpTime #dpTimeUp{
	height:10px;
	width:13px;
	border:0px;
	background-image:url(images/up.jpg);
}
/* 时间右边的向下按钮 BUTTON */
.WdateDiv #dpTime #dpTimeDown{
	height:10px;
	width:13px;
	border:0px;
	background-image:url(images/down.jpg);
}
/* 确定和几天按钮 INPUT */
.WdateDiv #dpOkInput{
	border:#38B1B9 1px solid;
	height:16px;
	background-color:#CFEBEE;
	color:#08575B;
}