@charset "utf-8";
@import url("common.css");
body{
	overflow:hidden;
	background:#e1edf5;
	border-right:1px solid #a8cce9;
	font-family:Verdana,Arial,Helvetica, sans-serif;
}
a{
	color:#165e9e;
	text-decoration:none;
}

#menu{
	 height:100%;
	 overflow:auto;
}
#menu dl{
	background:#fff;
	margin-top:-2px;
}
#menu dt{
	height:26px;
	cursor:pointer;
	background:#fff url(images/line_down.gif) no-repeat right top;
	color:#2668a4;
	text-align:left;
	line-height:26px;
	padding-left:16px;
	white-space:nowrap;
}


#menu dt.hover{
	background:#fff url(images/line_up.gif) no-repeat right top;
	color:#1f8107;
}

#menu dt.on{
	background:#fff url(images/line_up.gif) no-repeat right top;
	color:#1f8107;
	font-weight:bold;
}

#menu dt.nosm{background:#fff url(images/line_up3.gif) repeat-x right top;}

#menu dt.nosmhover{background:#fff url(images/line_up2.gif) repeat-x right top;}
#menu dt.nosmon{
	background:#fff url(images/line_up2.gif) repeat-x right top;
	font-weight:bold;
}
#menu dt.nosmhover a{color:#1f8107;}
#menu dt.nosmon a{
	color:#1f8107;
	font-weight:bold;
}

#menu dt a span,#menu dt a{
    display:block;
	height:25px;
}
#menu dd{
	background-color:#fff;
	padding-left:0px;
	height:28px;
	line-height:28px;
	margin-top:-1px;
	border-bottom:1px solid #a8cce9;
}
#menu dd a{
    background:url(../common/arrow.gif) no-repeat 5px 5px;
	padding-left:20px;
	display:block;
	line-height:28px;
	height:100%;
}
#menu dd a:hover{
	background:#e2ffdb url(../common/arrow.gif) no-repeat  5px 5px ;
	color:#098b14;
	}
/*
#menu dd span{
	padding-left:12px;
	display:block;
	height:40px;

}

#menu dd span.over{
	background:#e2ffdb;
	color:#098b14;
	
}
*/
#menu img{
	vertical-align:middle;
	margin-right:4px;
	height:32px;

}

#menu dd.focus{background:#c7f8bb;}
#menu dd.focus a{
	color:#1f8107;
	font-weight:bold;
}

#menu dd.separate{
	border-top:1px solid #eee
}
