<table class="tb_searchbar">
	    <tr>
			<td colspan="4" class="subtitle" resid="title.sdp.click">&nbsp;&nbsp;&nbsp;<label resid="text.cms.storageManage.deviceInfo"></label></td>
		</tr>
		<tbody>
		 <tr>		    
            <th id="thstorageName" width="20%">
                <label resid="lable.cms.storageManage.storagename" ></label>
            </th>
            <td id="tdstorageName">
                <label id="lblstorageName"></label>
            </td>
            
            <th id="thstorageID" width="20%">
                <label resid="lable.cms.storageManage.storageid" ></label>
            </th>
            <td id="tdstorageID">
                <label id="lblstorageID"></label>
            </td>
        </tr>

        <tr>		    
            <th id="thpriority" width="20%">
                <label resid="lable.cms.storageManage.priority" ></label>
            </th>
            <td id="tdpriority">
                <label id="lblpriority"></label>
            </td>
            <th id="thstatus" width="20%">
                <label resid="lable.cms.storageManage.status" ></label>
            </th>
            <td id="tdstatus">
                <label id="lblstatus"></label>
            </td>
        </tr>	
        
        <tr>		    
            <th id="thstoragecapacity" width="20%">
                <label resid="lable.cms.storageManage.storagecapacity" ></label>
            </th>
            <td id="tdstoragecapacity">
                <label id="lblstoragecapacity"></label>&nbsp;
                <font color="black">(G)</font>
            </td>
            <th id="thcurrentcapacity" width="20%">
                <label resid="lable.cms.storageManage.currentcapacity" ></label>
            </th>
            <td id="tdcurrentcapacity">
                <label id="lblcurrentcapacity"></label>&nbsp;
                <font color="black">(G)</font>
            </td>
        </tr>		
        
         <tr>		    
           
           <th id="thstoragepercentage" width="20%">
                <label resid="lable.cms.storageManage.storagepercentage" ></label>
            </th>
            <td id="tdstoragepercentage" >
                <label id="lblstoragepercentage"></label>
                <font color="black">%</font>
            </td> 
           <th id="thmonitorthreshold" width="20%">
                <label resid="lable.cms.storageManage.monitorthreshold" ></label>
            </th>
            <td id="tdmonitorthreshold">
                <label id="lblmonitorthreshold"></label>
                <font color="black">%</font>
            </td>
            
        </tr>
        
        <tr>		    
           
           <th id="thstorageipaddress" width="20%">
                <label resid="lable.cms.storageManage.ipaddress" ></label>
            </th>
            <td id="tdstorageipaddress" >
                <label id="lblipaddress"></label>                
            </td> 
           <th id="thmountcapacity" width="20%">
                <label resid="lable.cms.storageManage.mountcapacity" ></label>
            </th>
            <td id="tdmountcapacity">
                <label id="lblmountcapacity"></label>
                
            </td>
            
        </tr>	
        	
        <tr>		    
         <!-- 
         <th id="thaccessmethod" width="20%">
                <label resid="lable.cms.storageManage.accessmethod" ></label>
            </th>
           <td id="tdaccessmethod">
                <label id="lblaccessmethod"></label>
            </td>
            -->
            
            <th id="th" width="20%">
                <label resid="lable.cms.storageManage.storageaddress" ></label>
            </th>
           <td id="tdstoragepath">
                <label id="lblstoragepath"></label>
            </td>
           
             <th id="thdescription" width="20%">
                <label resid="lable.cms.storageManage.description" ></label>
            </th>
            <td id="tddescription" >
                <label id="lbldescription"></label>
            </td>
            
<!--            <th id="thstorageaddress" width="20%">-->
<!--                <label resid="lable.cms.storageManage.storageaddress" ></label>-->
<!--            </th>-->
<!--            <td id="tdstorageaddress">-->
<!--                <label id="lblstorageaddress"></label>-->
<!--            </td>-->
        </tr>		
     		
       
      </tbody>		
    </table>
