 <table class="tb_searchbar">
	    <tr>
			<td colspan="4" class="subtitle" >&nbsp;&nbsp;&nbsp;<label resid="text.cms.storageManage.spaceInfo"></label></td>
		</tr>
		<tbody>
		 <tr>		    
            <th id="thstorageName" width="20%">
                <label resid="lable.cms.storageManage.storagename" ></label>
            </th>
            <td id="tdstorageName" width="30%">
                <input id="txtstorageName" maxlength="50"> 
                
                <label id="lblstorageNameSpace"></label>
                <label id="txtstorageName_msg" class="validFont" ></label>
                <span id="textforname" style="display:none" class="warning">&nbsp;*&nbsp;</span>
            </td>
            
            <th id="thstorageID" width="20%">
                
                <label resid="lable.cms.storageManage.storageid" ></label>
            </th>
            <td id="tdstorageID" width="30%">
                <label id="lblstorageIDSpace"></label>
            </td>
        </tr>

        <tr>		    
            <th id="thstoragecapacitySpace" width="20%">
                
                <label resid="lable.cms.storageManage.storagecapacitySpace" ></label>
            </th>
            <td id="tdstoragecapacitySpace" width="30%">
                <input id="txtstoragecapacity" name="txtstoragecapacity" maxlength="10">
                 
                <label id="lblstoragecapacitySpace"></label>               
                 <label id="txtstoragecapacity_msg" class="validFont" ></label>
                <span id="textforspace" style="display:none" class="warning">&nbsp;*</span>
                <font color="black">(G)</font>
                
            </td>
            <th id="thcurrentcapacitySpace" width="20%">
                <label resid="lable.cms.storageManage.currentcapacitySpace" ></label>
            </th>
            <td id="tdcurrentcapacitySpace" width="30%">
                <label id="lblcurrentcapacitySpace"></label>&nbsp;
                <font color="black">(G)</font>
            </td>
        </tr>	
        <tr>		    
            <th id="thpriority" width="20%">
                <label resid="lable.cms.storageManage.priority" ></label>
            </th>
            <td id="tdpriority" width="30%">
                <label id="lblpriorityspace" ></label>
                <select name="selpriority" id="selpriority">           
            	</select>	
				
            </td>
            <th id="th" width="20%">
                <label resid="lable.cms.storageManage.storageaddress" ></label>
            </th>
           <td id="tdstoragepath">
                <label id="lblstoragepathspace"></label>
            </td>
        </tr>
        <tr>		    
            <th id="thstatus" width="20%">
                <label resid="lable.cms.storageManage.status" ></label>
            </th>
            <td id="tdstatus" width="30%">
                <label id="lblstatusSpace"></label>
            </td>
            <th id="thstoragearea" width="20%">
                <label resid="lable.cms.storageManage.storagearea" ></label>
            </th>
            <td id="tdstoragearea" width="30%">
                <label id="lblstoragearea"></label>
            </td>
        </tr>		
     		
        <tr>		    
            <th id="thdescription" width="20%">
                <label resid="lable.cms.storageManage.description" ></label>
            </th>
            <td id="tddescription" colspan="3">
                <textarea name="txtdescription" cols="80" rows="3"  id="txtdescription" maxchar="256"></textarea>
               
                <label id="lbldescriptionSpace"></label>
                <label class="validFont" id="txtdescription_msg" /></label>
            </td>
            
        </tr>		
      </tbody>		
    </table>