.tabCtrl{background:#cee9f4 url(tab_bg.gif) repeat-x bottom;}
.tabCtrlDiv{	
/*padding-left:8px;padding-top:4px;
*/width:100%;
padding-top:4px;
	}
.dropIcon{
	background:url(tab_bg.gif) repeat-x bottom ;
	width:17px;
	height:28px;
	float:right;
	position:absolute;
	right:0;
	top:58px;
}
*html  .dropIcon { top: 0px;} /* ie6 fixed */
*+html .dropIcon { top: 0px;} /* ie7 fixed */
.dropIcon span{
	display:block;
	background:url(droplist.jpg) repeat-x top ;
	width:18px;
	height:28px;
	float:right;}
.tabpage
{
   	background:#cee9f4 url(images/toolbar_bg.gif) repeat-x bottom fixed;

	
}

body,td,th 
{
	font-size: 12px;
	font: 12px tahoma,verdana;
}

.tabTitleFoucs_l
{
    background : url(tabtitlefoucs.gif); background-position:left bottom; height:24px;width:6px  
}
.tabTitleFoucs_m
{
    background : url(tabtitlefoucs_bg.gif); 
    color: #2F79C1;	 
    cursor:default;
    text-indent:5px;
    padding-right:0px;
    font-size:12px;
	white-space:nowrap;
   /* font-weight:bold;*/
}
.tabTitleFoucs_r
{
    background : url(tabtitlefoucs.gif); background-position:right bottom; height:24px; width:6px
}


.tabTitleFoucs_l img,.tabTitleUnFoucs_l img{width:10px}
.tabTitleFoucs_r img,.tabTitleUnFoucs_r img{width:10px}

.tabTitleUnFoucs_l
{
    background : url(tabtitleunfoucs.gif); background-position:left bottom; height:23px;width:6px
}

.tabTitleUnFoucs_m
{
    background : url(tabtitleunfoucs_bg.gif); 
    cursor:pointer;
    text-indent:5px;
    padding-right:0px;
    color: #666;
    font-size:12px;
		white-space:nowrap;
}
.tabTitleUnFoucs_m img{
filter:Alpha(Opacity=50) Gray();
	opacity:0.5;
	
}
.tabTitleUnFoucs_r
{    
    background :url(tabtitleunfoucs.gif); background-position:right bottom; height:23px;width:6px
}


.ContextMenu
{
	visibility:hidden;
	border-left:1px solid #7E7E81; 
	border-top:1px solid #7E7E81;
	border-bottom:1px solid #7E7E81; 
	border-right:1px solid #7E7E81;
	background:#eee; 
	padding:0px; overflow:hidden; 
	position:absolute; left:1px; 
    cursor:pointer;
}


.rightMenuItem1
{
    background : url(icon1.gif) no-repeat; background-position:left; height:18px; width:70px;
    padding-left:26px;
    top:0px; left:0px;
	color:#1F336B;
}
.rightMenuItem2
{
    background : url(icon2.gif) no-repeat; background-position:left; height:18px; 
    padding-left:26px;
    color:#1F336B;
}
.rightMenuItem3
{
    background : url(icon3.gif) no-repeat; background-position:left; height:18px; 
    padding-left:26px;
    color:#1F336B;
}



.over .tabTitleUnFoucs_l
{
    background : url(tabover.gif); background-position:left bottom; height:23px;width:6px
}

.over .tabTitleUnFoucs_m
{
    background : url(tabover_bg.gif); 
    cursor:pointer;
    text-indent:5px;
    padding-right:0px;
    color: #1f8107;
    font-size:12px;
		white-space:nowrap;
}
.over .tabTitleUnFoucs_m img{
filter:Alpha(Opacity=50) Gray();
	opacity:0.5;
	
}
.over .tabTitleUnFoucs_r
{    
    background :url(tabover.gif); background-position:right bottom; height:23px;width:6px
}