<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />

<!--  页面控件绑定信息  -->
<z:binds>
    <!--  内容信息  -->
    <z:bind ctrl="cpindex" ref="obj.cpindex" />
    <z:bind ctrl="dirindex" ref="obj.dirindex" />
    <z:bind ctrl="namecn" ref="obj.namecn" />
    <z:bind ctrl="descen" ref="obj.descen" />
    <z:bind ctrl="firstletter" ref="obj.firstletter" />
    <z:bind ctrl="fee" ref="obj.fee" />
    <z:bind ctrl="feeratio" ref="obj.feeradio" />
    <z:bind ctrl="effectivedate" ref="obj.effectivedate" calculate="formatTime1" />
    <z:bind ctrl="expirydate" ref="obj.expirydate" calculate="formatTime2" />
    <z:bind ctrl="dynencrypttag" ref="obj.dynencrypttag" calculate="getDynencryptTag" />
    <z:bind ctrl="ischkey" ref="obj.ischkey" calculate="getIsChkey" />
    <z:bind ctrl="isencau" ref="obj.isencau" calculate="getIsEncau" />
    <z:bind ctrl="encratio" ref="obj.encratio" />
    <z:bind ctrl="cntDesc" ref="obj.desccn" />
    <z:bind ctrl="contenttype" ref="obj.contenttype" />
    <z:bind ctrl="contentlevel" ref="obj.limitlevel"/>
    <z:bind ctrl="telecomcode" ref="obj.telecomcode"/>
    

</z:binds>
<!--  SysCode服务  -->
<z:service id='getSyscode' method='get' url='sysCode/getSysCode.ssm' isSyn="true">
</z:service>
<!--  获取内容信息服务  -->
<z:service id='getUcmContent' method='get' url='UcmContentLS/getUcmContent.ssm' isSyn="true">
    <z:request para="_para.contentindex" />
    <z:response rtn='$M.obj' preResponse='translate($M.obj);' postResponse='' onError='showError();' />
</z:service>
<!--  获取内容主文件FTP信息服务  -->
<z:service id='getUcmFileFTPInfo' method='get' url='UcmContentLS/getMainUcmFileFTPInfo.ssm' isSyn="true">
    <z:request para="[_para.contentindex, 100]" />
    <z:response rtn='$M.objFTP' preResponse='' postResponse='' />
</z:service>
<!--  获取内容主文件信息服务  -->
<z:service id='getMainUcmFile' method='get' url='UcmContentLS/getMainUcmFile.ssm' isSyn="true">
    <z:request para="[_para.contentindex, 100]" />
    <z:response rtn='$M.objFile' preResponse='translateFile($M.objFile)' postResponse='' onError='showError();' />
</z:service>
<div class="tab">
</div>
<div class="editBlock">
<table>
    <tbody>
        <tr>
            <th resid="table.iptv.content.cp"></th>
            <td><label id="cpcnshortname" /></td>
            <th resid="table.iptv.content.dirname"></th>
            <td><label id="dirname" /></td>
        </tr>
        <tr>
            <th resid="table.iptv.content.namecn"></th>
            <td><label id="namecn" /></td>
            <th resid="table.iptv.content.firstletter"></th>
            <td><label id="firstletter" /></td>
        </tr>
        <tr>
            <th resid="table.iptv.content.contentid"></th>
            <td colspan="3"><label id="telecomcode" /></td>
        </tr>
        <tr>
            <th resid="label.iptv.valueaddcontent.url"></th>
            <td colspan="3"><label id="descen" /></td>
        </tr>
</table>
<table>
    <tr>
        <th resid="table.iptv.content.cntdesc" ></th>
        <td><label id="cntDesc" /></td>
    <tr>
</table>
</div>
