<input type="hidden" id="txtErrorcode" />
<input type="hidden" id="txtErrordes" />
<input type="hidden" id="batchInfoHTML" />
<input type="hidden" id="expPath" />
<div class="gray_background" id="ia"><iframe class="iframeMask">
</iframe></div>
<div class="pop_shadowbox" id="ic">
<div class="pop_dlgbox" id="icc">
<div id="pop_header" onmousedown="AQ('ic',event)" class="poptitle">
<div id="pop_title"></div>
<div class="close" id="pop_icon"><a href="javascript:AN('ic')">
<img class="popcss_img" id="imgClose" /></a></div>
</div>
<div id="pop_content"></div>
</div>
</div>