<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<!--  页面控件绑定信息  -->
<z:binds>
    <!--  内容信息  -->
    <z:bind ctrl="cpindex" ref="obj.cpindex" />
    <z:bind ctrl="dirindex" ref="obj.dirindex" />
    <z:bind ctrl="namecn" ref="obj.namecn" />
    <z:bind ctrl="firstletter" ref="obj.firstletter" />
    <z:bind ctrl="fee" ref="obj.fee" />
    <z:bind ctrl="feeratio" ref="obj.feeradio" />
    <z:bind ctrl="effectivedate" ref="obj.effectivedate" calculate="formatTime1" />
    <z:bind ctrl="expirydate" ref="obj.expirydate" calculate="formatTime2" />
    <z:bind ctrl="dynencrypttag" ref="obj.dynencrypttag" calculate="getDynencryptTag" />
    <z:bind ctrl="algorithm" ref="obj.algorithm" calculate="getAlgorithm" />
    <z:bind ctrl="ischkey" ref="obj.ischkey" calculate="getIsChkey" />
    <z:bind ctrl="isencau" ref="obj.isencau" calculate="getIsEncau" />
    <z:bind ctrl="encratio" ref="obj.encratio" />
    <z:bind ctrl="cntDesc" ref="obj.desccn" />
    <z:bind ctrl="contenttype" ref="obj.contenttype" />
    <z:bind ctrl="directindex" ref="directindex" />
    <z:bind ctrl="writeindex" ref="writeindex" />
    <z:bind ctrl="actorindex" ref="actorindex" />

    <!-- <z:bind ctrl="feetype" ref="obj.feetype" calculate="getFeetype" /> -->
    <z:bind ctrl="country" ref="obj.countrytype" calculate="getCountry" />
    <z:bind ctrl="contentlevel" ref="obj.limitlevel" calculate="getLimitlevel"/>
    <!--  文件信息  -->
    <z:bind ctrl="snapexist" ref="objFile.snapexist" />
    <z:bind ctrl="snapbegintime" ref="objFile.snapbegintime" calculate="formatSnapTime1" />
    <z:bind ctrl="snapendtime" ref="objFile.snapendtime" calculate="formatSnapTime2" />
    <z:bind ctrl="sendType" ref="objFile.uploadtype" />
    
    <!--  FTP信息  -->
    <z:bind ctrl="sendtime" ref="objFTP.sendtype" />
    <z:bind ctrl="uploadtime" ref="objFTP.sendtime" />
    <z:bind ctrl="ip" ref="objFTP.ipaddress" />
    <z:bind ctrl="port" ref="objFTP.port" />
    <z:bind ctrl="useraccount" ref="objFTP.useraccount" />
    <z:bind ctrl="password" ref="objFTP.password" calculate="getPwd" />
    <z:bind ctrl="filepath" ref="objFTP.filepath" />
    <z:bind ctrl="filename" ref="objFTP.filename" />

    <!--  连续剧信息  -->
    <z:bind ctrl="batchupload" ref="batchupload" />
    <z:bind ctrl="seriesnum" ref="obj.seriesnum" />
    <z:bind ctrl="batchfilenametype" ref="batchfilenametype" />
    <z:bind ctrl="autofillin" ref="autofillin" />

</z:binds>
<!--  SysCode服务  -->
<z:service id='getSyscode' method='get' url='sysCode/getSysCode.ssm' isSyn="true">
</z:service>
<!--  获取内容信息服务  -->
<z:service id='getUcmContent' method='get' url='UcmContentLS/getUcmContent.ssm' isSyn="true">
    <z:request para="_para.contentindex" />
    <z:response rtn='$M.obj' preResponse='translate($M.obj);' postResponse='' onError='showError();' />
</z:service>

<div class="editBlock">
<table>
    <tbody>
        <tr>
            <th resid="table.iptv.content.cp"></th>
            <td><label id="cpcnshortname" /></td>
            <th resid="table.iptv.content.dirname"></th>
            <td><label id="dirname" /></td>
        </tr>
        <tr>
            <th resid="table.iptv.content.namecn"></th>
            <td><label id="namecn" /></td>
            <th resid="table.iptv.content.firstletter"></th>
            <td><label id="firstletter" /></td>
        </tr>
        <tr style="display:none">
            <th resid="table.iptv.content.directornames"></th>
            <td colspan="1"><label id="directornames" /></td>
            <!--<th resid="table.iptv.content.writornames"></th>
            <td><label id="writornames" /></td>-->
            <th resid="table.iptv.content.actornames"></th>
            <td><label id="actornames" /></td>
        </tr>
        <tr>
            <th resid="table.iptv.content.country"></th>
            <td ><label id="country" /></td>
            <th resid="lable.iptv.content.seriesnum"></th>
            <td ><label id="seriesnum" /></td>
        </tr>
        <tr style="display:none">
            
            <th resid="table.iptv.content.fee"></th>
            <td><label id="fee" /></td>
            <th resid="table.iptv.content.feeratio"></th>
            <td><label id="feeratio" /></td>
        </tr>
        <tr>
            
            <th resid="table.iptv.content.effectivedate"></th>
            <td><label id="effectivedate" /></td>
            <th resid="table.iptv.content.expirydate"></th>
            <td><label id="expirydate" /></td>
        </tr>
        <tr>
            <th resid="table.iptv.content.contentlevel"></th>
            <td colspan="3" ><label id="contentlevel" /></td>
        </tr>
        <tr id="encrypt1">
            <th resid="table.iptv.content.algorithm"></th>
            <td><label id="algorithm" /></td>
            <th resid="table.iptv.content.schema"></th>
            <td><label id="schema" /></td>
        </tr>
        <tr id="encrypt2">
            <th resid="table.iptv.content.ischkey"></th>
            <td><label id="ischkey" /></td>
            <th resid="table.iptv.content.isencau"></th>
            <td><label id="isencau" /></td>
        </tr>
        <tr id="encrypt3">
            <th resid="table.iptv.content.encratio"></th>
            <td colspan="3"><label id="encratio" /></td>
        </tr>
        <tr>
            <th resid="table.iptv.content.cntdesc"></th>
            <td colspan="3"><label id="cntDesc" /></td>
            
        <tr>
    </tbody>
</table>
<div id="snapexistdiv" style="display: none">
<table>
    <tr>
        <th resid="lable.iptv.content.seriesfilename"></th>
        <td colspan="3"><input type="text" class="inputText" name="batchfilenametype" id="batchfilenametype" maxlength="100" size="70"> <br>
        <span class=note resid="lable.iptv.content.sitcomsample1"></span></td>
    </tr>
    <tr>
        <th resid="lable.iptv.content.autofillin""></th>
        <td colspan="3"><input type="radio" name="autofillin" id="autofillin" value="0" resid="label.page.content.false"> <input type="radio" name="autofillin" id="autofillin" value="1" checked resid="label.page.content.true"> <br>
        <span class=note resid="lable.iptv.content.sitcomsample2"></span></td>
    </tr>
</table>
</div>
<div id="ftpdiv" style="display: none">
<table>
    <tr>
        <th resid="table.iptv.content.ftpserverinfo"></th>
        <td>
        <table>
            <tr>
                <th resid="table.iptv.content.sevadd"></th>
                <td><label id="ip" /></td>
                <th resid="table.iptv.content.sevport"></th>
                <td><label id="port" /></td>
            </tr>
            <tr>
                <th resid="table.iptv.content.usrname"></th>
                <td><label id="useraccount" /></td>
                <th resid="table.iptv.content.usrpwd"></th>
                <td><label id="password" /></td>
            </tr>
            <tr>
                <th resid="table.iptv.content.addfilepath"></th>
                <td><label id="filepath" /></td>
                <th resid="table.iptv.content.addfilename"></th>
                <td><label id="filename" /></td>
            </tr>
        </table>
    </tr>
</table>
</div>
</div>
