<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<!--  页面控件绑定信息  -->
<z:binds>
    <!--  内容信息  -->
    <z:bind ctrl="cpindex" ref="obj.cpindex" />
    <z:bind ctrl="dirindex" ref="obj.dirindex" />
    <z:bind ctrl="namecn" ref="obj.namecn" />
    <z:bind ctrl="firstletter" ref="obj.firstletter" />
    <z:bind ctrl="fee" ref="obj.fee" />
    <z:bind ctrl="feeratio" ref="obj.feeradio" />
    <z:bind ctrl="effectivedate" ref="obj.effectivedate" calculate="formatTime1" />
    <z:bind ctrl="expirydate" ref="obj.expirydate" calculate="formatTime2" />
    <z:bind ctrl="dynencrypttag" ref="obj.dynencrypttag" calculate="getDynencryptTag" />
    <z:bind ctrl="algorithm" ref="obj.algorithm" calculate="getAlgorithm" />
    <z:bind ctrl="ischkey" ref="obj.ischkey" calculate="getIsChkey" />
    <z:bind ctrl="isencau" ref="obj.isencau" calculate="getIsEncau" />
    <z:bind ctrl="encratio" ref="obj.encratio" />
    <z:bind ctrl="cntDesc" ref="obj.desccn" />
    <z:bind ctrl="contenttype" ref="obj.contenttype" />
    <z:bind ctrl="directindex" ref="directindex" />
    <z:bind ctrl="writeindex" ref="writeindex" />
    <z:bind ctrl="actorindex" ref="actorindex" />

    <!-- <z:bind ctrl="feetype" ref="obj.feetype" calculate="getFeetype" /> -->
    <z:bind ctrl="country" ref="obj.countrytype" calculate="getCountry" />
    <!--  文件信息  -->
    <z:bind ctrl="snapexist" ref="objFile.snapexist" />
    <z:bind ctrl="snapbegintime" ref="objFile.snapbegintime" calculate="formatSnapTime1" />
    <z:bind ctrl="snapendtime" ref="objFile.snapendtime" calculate="formatSnapTime2" />
    <z:bind ctrl="sendType" ref="objFile.uploadtype" />
    <!--  FTP信息  -->
    <z:bind ctrl="sendtime" ref="objFTP.sendtype" />
    <z:bind ctrl="uploadtime" ref="objFTP.sendtime" />
    <z:bind ctrl="ip" ref="objFTP.ipaddress" />
    <z:bind ctrl="port" ref="objFTP.port" />
    <z:bind ctrl="useraccount" ref="objFTP.useraccount" />
    <z:bind ctrl="password" ref="objFTP.password" calculate="getPwd" />
    <z:bind ctrl="filepath" ref="objFTP.filepath" />
    <z:bind ctrl="filename" ref="objFTP.filename" />

</z:binds>
<!--  SysCode服务  -->
<z:service id='getSyscode' method='get' url='sysCode/getSysCode.ssm' isSyn="true">
</z:service>
<!--  获取内容信息服务  -->
<z:service id='getUcmContent' method='get' url='UcmContentLS/getUcmContentBuf.ssm' isSyn="true">
    <z:request para="_para.contentindex" />
    <z:response rtn='$M.obj' preResponse='translate($M.obj);' />
</z:service>
<!--  获取内容主文件FTP信息服务  -->
<z:service id='getUcmFileFTPInfo' method='get' url='UcmContentLS/getMainUcmFileFTPInfo.ssm' isSyn="true">
    <z:request para="[_para.contentindex, 100]" />
    <z:response rtn='$M.objFTP' preResponse='' postResponse='' />
</z:service>
<!--  获取内容主文件信息服务  -->
<z:service id='getMainUcmFile' method='get' url='UcmContentLS/getMainUcmFile.ssm' isSyn="true">
    <z:request para="[_para.contentindex, 100]" />
    <z:response rtn='$M.objFile' preResponse='translateFile($M.objFile)' postResponse='' onError='showError();' />
</z:service>
<div class="tab">
  <table>
    <tr>
      <td class="on"><a href="#"><span class="title" resid="lable.iptv.content.kaladetail"></span></a></td>
    </tr>
  </table>
</div>
<div class="editBlock">
<table>
    <tbody>
        <tr>
            <th resid="table.iptv.content.cp"></th>
            <td><label id="cpcnshortname" /></td>
            <th resid="table.iptv.content.dirname"></th>
            <td><label id="dirname" /></td>
        </tr>
        <tr>
            <th resid="table.iptv.content.namecn"></th>
            <td><label id="namecn" /></td>
            <th resid="table.iptv.content.firstletter"></th>
            <td><label id="firstletter" /></td>
        </tr>
        <tr>
            <th resid="table.iptv.content.directornames"></th>
            <td colspan="3"><label id="directornames" /></td>
            <!--<th resid="table.iptv.content.writornames"></th>
            <td><label id="writornames" /></td>-->
        </tr>
        <tr>
            <th resid="table.iptv.content.actornames"></th>
            <td><label id="actornames" /></td>
            <th resid="table.iptv.content.country"></th>
            <td><label id="country" /></td>
        </tr>
        <tr>
            <!-- <th resid="table.iptv.content.feetype"></th>
            <td><label id="feetype" /></td> -->
            <th resid="table.iptv.content.effectivedate"></th>
            <td colspan="3"><label id="effectivedate" /></td>
        </tr>
        <tr style="display:none">
            <th resid="table.iptv.content.fee"></th>
            <td><label id="fee" /></td>
            <th resid="table.iptv.content.feeratio"></th>
            <td><label id="feeratio" /></td>
        </tr>
        <tr>
            <th resid="table.iptv.content.expirydate"></th>
            <td><label id="expirydate" /></td>
            <th resid="table.iptv.content.dynencrypttag"></th>
            <td><label id="dynencrypttag" /></td>
        </tr>
        <tr id="encrypt1">
            <th resid="table.iptv.content.algorithm"></th>
        <td><label id="algorithm" /></td>
            <th resid="table.iptv.content.schema"></th>
        <td><label id="schema" /></td>
    </tr>
        <tr id="encrypt2">
            <th resid="table.iptv.content.ischkey"></th>
        <td><label id="ischkey" /></td>
            <th resid="table.iptv.content.isencau"></th>
        <td><label id="isencau" /></td>
    </tr>
        <tr id="encrypt3">
            <th resid="table.iptv.content.encratio"></th>
        <td colspan="3"><label id="encratio" /></td>
    </tr>
    <tr>
            <th resid="table.iptv.content.snapexist"></th>
        <td colspan="3"><label id="snapexist" /></td>
    </tr>
        <tr id="snapexistdiv" style="display: none">
            <th resid="table.iptv.content.snapbegintime"></th>
        <td><label id="snapbegintime" /></td>
            <th resid="table.iptv.content.snapendtime"></th>
        <td><label id="snapendtime" /></td>
    </tr>
    </tbody>
</table>
<div id="ftpdiv">
<table>
    <tr style="display: none">
        <th resid="table.iptv.content.uploaddate"></th>
        <td><label> <input type="radio" checked="checked" value="1" id="sendtime" name="sendtime" onclick="doSendtime()" resid="table.iptv.content.uploadimd"/> </label> <label> <input type="radio" value="3" id="sendtime" name="sendtime" onclick="doSendtime()" resid="table.iptv.content.uploadregular"/>  </label> <input type="text" class="inputText" name="uploadtime" id="uploadtime" value="0" style="display: none" /></td>
    </tr>
    <tr>
        <th resid="table.iptv.content.ftpserverinfo"></th>
        <td>
        <table style="width: auto">
            <tr>
                <th resid="table.iptv.content.sevadd"></th>
                <td><label id="ip" /></td>
                <th resid="table.iptv.content.sevport"></th>
                <td><label id="port" /></td>
            </tr>
            <tr>
                <th resid="table.iptv.content.usrname"></th>
                <td><label id="useraccount" /></td>
                <th resid="table.iptv.content.usrpwd"></th>
                <td><label id="password" /></td>
            </tr>
            <tr>
                <th resid="table.iptv.content.addfilepath"></th>
                <td><label id="filepath" /></td>
                <th resid="table.iptv.content.addfilename"></th>
                <td><label id="filename" /></td>
            </tr>
        </table>
    </tr>
</table>
</div>
<table>
    <tr>
        <th resid="table.iptv.content.cntdesc"></th>
        <td><label id="cntDesc" /></td>
    <tr>
</table>
</div>
