/* 页面共用信息的定义============================================================ */ 
body {font-family : "宋体";font-size: 12px;color:#000000;	SCROLLBAR-FACE-COLOR: #cfcfcf; FONT-SIZE: 9pt; SCROLLBAR-HIGHLIGHT-COLOR: #ffffff; SCROLLBAR-SHADOW-COLOR: #595959; SCROLLBAR-3DLIGHT-COLOR: #616161; SCROLLBAR-ARROW-COLOR: #888888; FONT-FAMILY: verdana, 宋体, Seoul, Gulim; SCROLLBAR-DARKSHADOW-COLOR: #ffffff; SCROLLBAR-BASE-COLOR: #cfcfcf; LETTER-SPACING: 1px;MARGIN:0px}
td{font-size:12px;color:#000000}
IFRAME {width:100%;height:100%; BACKGROUND-COLOR: #fff}
.login_text{color:#ffffff ;text-align:right;}
.login_valid{color:#ff0000}
.copyright{color:#ffffff}
.bar{BACKGROUND: url(../pic_task/barbg.gif) #eeeeee;}

/* 网站链接总的CSS定义:可定义内容为链接字体颜色、样式等============================================================ */
a{font-size: 12px;text-decoration: none;} /* 链接无下划线,有为underline */ 
a:link {font-size: 12px;color: #000000;text-decoration: none;background-image: url(images/buttons.bmp); background-position: 0px 0px;} /* 未访问的链接 */
a:visited {font-size: 12px;color: #000000;text-decoration: none;background-image: url(images/buttons.bmp);background-position: 0px 0px;} /* 已访问的链接 */
a:hover{font-size: 12px;COLOR: #4EB200;background-image: url(images/buttons.bmp); background-position: 0px 0px;} /* 鼠标在链接上 */ 
a:active {font-size: 12px;color: #0000ff;text-decoration: none;} /* 点击激活链接 */
/*可扩展为：a.名字 引用时用<a class="名字"></a> */


/* 控件基本信息的定义============================================================ */ 
input.button {height:21px;width:80px;padding-top:2px;BORDER: #FFFFFF 0px solid; color:#ffffff; BACKGROUND: url(../pic_task/button_bg.gif) #cf0 repeat-x 0px 0px;}
input.icobutton {cursor:hand;height:21px;width:40px;padding-top:2px;BORDER: #FFFFFF 0px solid; color:#ffffff; BACKGROUND: url(../pic_task/button_bg.gif) #cf0 repeat-x 0px 0px;}

input.textfield {width:90%;height:20px;BORDER-top: #cccccc 3px solid;BORDER-bottom: #eeeeee 1px solid;BORDER-left: #cccccc 3px solid;BORDER-right: #eeeeee 1px solid;  BACKGROUND: #ffffff;}
select {width:90%;BORDER-top: #cccccc 3px solid;BORDER-bottom: #eeeeee 1px solid;BORDER-left: #cccccc 3px solid;BORDER-right: #eeeeee 1px solid;  BACKGROUND: #ffffff; }
textarea {width:90%;height:100%;BORDER-top: #cccccc 3px solid;BORDER-bottom: #eeeeee 1px solid;BORDER-left: #cccccc 3px solid;BORDER-right: #eeeeee 1px solid;  BACKGROUND: #ffffff;}

input.login {height:20px;padding-top:1px;BORDER: #000000 1px solid;  BACKGROUND: url(../pic_task/field_bg.gif) #cf0 repeat-x 0px 0px;}

input.menubutton {font-family : 宋体;font-size: 14px; padding-top:4px;height:35px;width:150px;font-weight:bold;	BORDER-RIGHT: #acb5b5 3px double; BORDER-TOP: #c4cccc 3px double; BACKGROUND: url(../pic_task/field1_bg.gif) #fefefe repeat; BORDER-LEFT: #acb5b5 3px double; BORDER-BOTTOM: #6f7777 3px double}
.filter{filter:dropshadow(color=#ffffff,offx=1,offy=1,positive=1);}

/* 表单信息的定义============================================================ */ 
table.in{width:100%;BACKGROUND-COLOR:#ffffff; border-collapse:collapse;}
table.in th{height:22px; color:#000000;text-align:center;font-weight:bold;font-size:12px;BACKGROUND: url(../pic_task/title_bg.gif) #cf0;}
table.in td{ color:#000000;border-bottom:1px #cccccc dotted}
.intext{text-align:right;  padding:5px;MARGIN: 0px;}
.intip{color:#ff0000}
.tbuttom{BACKGROUND-COLOR:#eeeeee;height:25px;padding:5px; TEXT-ALIGN: center}

table.div{width:100%;height:100%;BACKGROUND-COLOR:#eeeeee; border-collapse:collapse;}
table.div td{ color:#000000}



/* onmouseover 列表单============================================================ */ 

table.list{over:expression(((this.readyState=="complete") && (this.className=="dg")) || (
    (
    __evlon_init_tr=function(objTable){
    var i;
    for(i=1;i<objTable.rows.length;i++)
    {   
        objTable.rows[i].className="dg_tr_normal";
        objTable.rows[i].onmouseover=function(){this.className="dg_tr_mouseover"};
        objTable.rows[i].onmouseout=function(){this.className="dg_tr_normal"};
    }
    
    }    
    ) ,(__evlon_init_tr(this)), (this.className="dg")));}
.dg{ width:100%;text-align:center; border-collapse:collapse;}
.dg_tr_mouseover,.dg_tr_normal{height:28px; }
.dg_tr_normal {background-color:#ffffff;}
.dg_tr_mouseover { background-color:#eeeeee; }
.dg th{ border-right: #000000 1px solid; border-top: #ffffff 1px solid; border-left: #ffffff 3px outset; border-bottom: #666666 1px solid; height:22px; color:#000000;text-align:center;font-weight:bold;font-size:12px;BACKGROUND: url(../pic_task/title_bg.gif) #cf0;}
.dg td{ color:#000000;border-bottom:1px #cccccc dotted;}
/* onmouseover============================================================ */ 


table.page{width:100%; border-collapse:collapse;border:1px #cccccc solid;BACKGROUND-COLOR:#eeeeee;}
table.page span{color:#ff0000}
table.page td{ color:#000000;text-align:center;height:28px;}
