

A:link {

	COLOR: #606060;

	TEXT-DECORATION: none;

   FONT-FAMILY: 宋体;

   FONT-SIZE: 12;

}



A:visited {

	COLOR: #606060;

	TEXT-DECORATION: none;

   FONT-FAMILY: 宋体;

   FONT-SIZE: 12;

}

A:active {

	COLOR: #606060;

	TEXT-DECORATION: none;

   FONT-FAMILY: 宋体;

   FONT-SIZE: 12;

}

A:hover {

	COLOR: #606060;

	TEXT-DECORATION: underline;

   FONT-FAMILY: 宋体;

   FONT-SIZE: 12;

}



BODY

{

	

    FONT-FAMILY: 宋体;

    

}

H1

{

    COLOR: #003399;

    FONT-FAMILY: 隶书, 楷体_gb2312, 宋体;

    FONT-SIZE: 18pt;

    FONT-WEIGHT: lighter

}

H2

{

    COLOR: #003399;

    FONT-FAMILY: 隶书, 楷体_gb2312, 宋体;

    FONT-SIZE: 14pt;

    FONT-WEIGHT: lighter

}

IMG

{

    COLOR: red;

    FONT-FAMILY: 宋体;

    FONT-SIZE: 14

}

BUTTON

{

    COLOR: green;

    FONT-FAMILY: 宋体;

    FONT-SIZE: 14

}

SELECT

{

    COLOR: #018BD8;

    FONT-FAMILY: 宋体;

    FONT-SIZE: 14

}

TEXTAREA

{

    FONT-FAMILY: 宋体;

    FONT-SIZE: 14

}

INPUT

{

	FONT-FAMILY: 宋体;

   FONT-SIZE: 14

}

TABLE

{

	FONT-FAMILY: 宋体;

	FONT-SIZE: 14

}

LABEL

{

	color : #003399;

}

TH

{

	background-color:#6699cc;

}

TR.noview

{

	display : none;

	width:0;

}

TD.noview

{

	display : none;

	width:0;

}

INPUT.pgbtn

{

	FONT-FAMILY: 宋体;

   FONT-SIZE: 14;

	width:25;

}

LABEL.H1

{

    COLOR: #003399;

    FONT-FAMILY: 楷体_gb2312, 隶书, 宋体;

    FONT-SIZE: 18pt;

    FONT-WEIGHT: lighter

}

LABEL.H2

{

    COLOR: #003399;

    FONT-FAMILY: 楷体_gb2312, 隶书, 宋体;

    FONT-SIZE: 14pt;

    FONT-WEIGHT: lighter

}