@charset "utf-8";
/* common begin */
@import url("common.css");

body{
	overflow:hidden;
	scrollbar-face-color:#dff9fe;
	scrollbar-highlight-color:#FFFFFF;
	scrollbar-3dlight-color:#9adae7;
	scrollbar-darkshadow-color:#9adae7;
	scrollbar-Shadow-color:#FFFFFF;
	scrollbar-arrow-color:#006498;
	scrollbar-track-color:#fff;
}
body{overflow:hidden;}
table{border-collapse:collapse;}
/* common end */

#indexContainer{
	width:100%;
	height:100%;
}
#indexContainer td{vertical-align:middle;}
#topLogo{
	width:100%;
	height:45px;
	background:#3e98cc url(images/top_bg.gif) repeat-x bottom;
	
}
#topLogo .logo{
	width:250px;
	background:url(images/logo.gif) no-repeat bottom left;
}
#topLogo .topRight{
	
	background:url(images/top_right.gif) no-repeat right bottom;
	vertical-align:bottom
}
#systemInfo{
	color:#bbbbbb;
	text-align:right;
	height:23px;
	width:100%;
	background:#232323;
}
#systemInfo .left{
	text-align:left;
	padding-left:40px;
	color:#a5b6c2;
}
#systemInfo a{
	padding:3px 8px;
	color:#fff;
	text-decoration:none;
}
#systemInfo a:hover{text-decoration:underline;}
#mainContent{width:100%;}
#mainContent #leftBar{
	width:200px;
	vertical-align:top;
}
#mainContent #switchBar{
	width:9px;
	vertical-align:middle;
	background:url(images/ctrl_bg.gif) repeat-y;
}
#mainContent #switchBar span,.switchArrowR{
	cursor:pointer;
	width:9px;
	height:44px;
	display:block;
}
#mainContent #switchBar span{background:url(images/shrink_left.gif);}
#mainContent #switchBar .switchArrowR{background:url(images/shrink_right.gif);}
#mainContent #mFrame{vertical-align:top;}
#dropDownMenu dl{float:left;}
#copyright{height:20px;}
#copyright td{
	text-align:center;
	color:#2668a5;
	background:#e1edf5;
	border-top:1px solid #a8cce9;
}
#topMenu ul li{
	float:left;	
	height:30px;
	vertical-align:bottom;
	list-style:none;
	
}
#topMenu ul li a {
	font:14px;
	color:#fff;
	text-decoration:none;
	font-weight:bold;
	padding:8px 12px 2px 12px;
	height:35px;
	background:url(images/topMenu_line.gif) no-repeat bottom right;

}
#topMenu ul li a:hover{
	color:#fff;

}
#topMenu ul li.on{
	background:url(images/topMenu_right.gif) no-repeat bottom right;
}
#topMenu ul li.on a{
	color:#fff;
	
	background:url(images/topMenu_left.gif) no-repeat bottom left;
}