﻿@charset "utf-8";
html{
  overflow:hidden;
}
body{
	font-size:12px;
	margin:16px;
	margin-top:0;
	scrollbar-face-color:#dff9fe;
	scrollbar-highlight-color:#FFFFFF;
	scrollbar-3dlight-color:#9adae7;
	scrollbar-darkshadow-color:#9adae7;
	scrollbar-Shadow-color:#FFFFFF;
	scrollbar-arrow-color:#006498;
	scrollbar-track-color:#fff;
	font-family:Arial,Verdana,  Helvetica,"宋体" ,sans-serif;
	background:#fff	
}
td,th,input,textarea,select{
	font-size:12px; 
	font-family:Arial, Helvetica,"宋体" ,sans-serif,Verdana;
}
.loginBox{
    position:relative;
	background: url(images/loginBox_bg.gif) no-repeat;
	width:510px;
	height:320px;
	padding-top:100px;
	padding-left:200px;
	filter:progid:DXImageTransform.Microsoft.Shadow(color:#014365,direction:145,strength:5);
}
.loginBox table th{
    text-align:right; 
	font-weight:normal;
}
.loginBox table td{text-align:left;}
.loginBox td{color:006498;}
.inputButton{ 
    background: url(images/loginButton.gif) no-repeat; 
	width:77px;
	height:27px;
	border:0;
} 
.buttonover{
    background: url(images/loginButton.gif) no-repeat; 
	width:77px;
	height:27px;
	border:0;
}
.login{ 
    background:#006498 url(images/login_bg.gif)  repeat-x bottom fixed;
	overflow:hidden;
}
.inputText{
    border:1px solid #94b6c3; 
    width:160px;
}
.vaildate{
    border:1px solid #94b6c3; 
    width:60px;
}
.copyRight{
    color:#fff; 
	position:relative; 
	left:-60px; 
	top:100px;
}
.red{color:#ff0000;}
