<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<z:binds>
	<z:bind ctrl="txtProcessId" ref="task.processId" />
	<z:bind ctrl="txtRoutType" ref="task.routType" />
	<z:bind ctrl="txtRoutEvent" ref="task.routEvent" />
	<z:bind ctrl="txtTaskId" ref="task.taskId" />
	<z:bind ctrl="txtHandleMessage" ref="handleMessage" />
</z:binds>
<z:service id='getTask' method='get' url='umapWkfw/getTaskInfo.ssm'
	isSyn="true">
	<z:response postResponse="dealTaskInfo()" />
</z:service>
<z:service id='getHistory' method='get' url='umapWkfw/getHistory.ssm'
	isSyn='true'>
	<z:response
		postResponse="noDataDisplay($M.tblHistoryList,'tblHistory')" />
</z:service>
<input type="hidden" id="txtTaskId" />
<input type="hidden" id="txtRoutEvent" />
<input type="hidden" id="txtProcessId" />
<input type="hidden" id="txtRoutType" />
<div class="dataGrid" id="tblHistory">
<table>
	<caption resid="label.workflow.hisdesc"></caption>
	<tr>
		<td><z:table turnpage="false" editable="true" width="100%"
			id="tblHistoryList">
			<z:column id="col0" resid="label.workflow.checknode" prop="taskName"></z:column>
			<z:column id="col1" resid="label.workflow.checkresult" prop="handleEvent"></z:column>
			<z:column id="col2" resid="label.workflow.checkdesc" prop="handleMsg"></z:column>
			<z:column id="col3" resid="label.workflow.username" prop="userName"></z:column>
			<z:column id="col4" resid="label.workflow.completetime" prop="finishDate"
				datatype="date(yyyy-mm-dd hh:MM:ss)"></z:column>
		</z:table></td>
	</tr>
</table>
</div>
<div class="editBlock todo">
<table>
	<tr>
		<th colspan="2" class="subtitle" resid="label.checkdesc"></th>
	</tr>
	<tr id="trHandle">
		<th resid="label.checkresult"></th>
		<td id="tdHandle"></td>
	</tr>
	<tr>
		<th width="150" resid="label.checkdesc"></th>
		<td><textarea rows="5" id="txtHandleMessage" style="width: 500px" onpropertychange="checkMaxInput2(this,1500,'showopopinion')"></textarea><label
			class="validFont" id="txtHandleMessage_msg"></label>
			<label id="noteopopinion" class="note" >
						<div>
							<label resid="ui.control.textarea.txt"></label>
								<span id="showopopinion">1500</span>	
							<label resid="ui.control.textarea.length4"></label>
						</div>
					</label></td>
	</tr>
</table>
</div>